<!DOCTYPE html>
<html lang="zh-cn" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-table.css">
    <script src="../static/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../static/jQuery/jquery-form.js"></script>
    <script src="../static/jQuery/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../static/js/baiduTemplate.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

    <script src="../static/js/moment-with-locales.min.js"></script>
    <script src="../static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="../static/js/vue.js"></script>
    <script src="../static/js/bootstrap-table.js"></script>
    <script src="../static/js/bootstrap-table-zh-CN.js"></script>
    <!--高级检索-->
</head>
<body>
<div class="container-fluid">
    <div style="margin-top: 1%;margin-left: 2%">
        <span class="glyphicon glyphicon-arrow-left" style="color: yellow"></span><a
            href="inDividualFollowUpGroupManagement.html">返回随访组</a>
    </div>
    <div class="modal-dialog" id="advanceDialog" style="text-align: center;margin-top: 0">
        <h3 style="color: blue">随访组标题<a><span class="glyphicon glyphicon-exclamation-sign"></span></a></h3>
    </div>

    <div id="advanceFormDiv">
        <div class="row">
            <div class='col-md-1'>
            </div>
            <div class='col-md-2'>
                <select class="form-control input-sm" type="text" name="advanceFilterField"
                        id="advanceFilterField" >
                    <option>--选择字段--</option>
                    <option>白细胞</option>
                    <option>身高</option>
                    <option>体重</option>
                    <option>血糖</option>
                    <option>症状</option>
                </select>
            </div>
            <div class="col-md-1">
                <select class="form-control input-sm" type="text" name="advanceFilterType"
                        id="advanceFilterType2">
                    <option value="0" checked="checked">等于</option>
                    <option value="1">包含</option>
                    <option value="2">不等于</option>
                    <option value="3">大于等于</option>
                    <option value="4">小于等于</option>
                    <option value="5">大于</option>
                    <option value="6">小于</option>
                </select>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" placeholder="" name="advanceFilterValLable"
                       id="advanceFilterValLable">
            </div>
            <div class="col-md-4">
            <button href="javascript:void(0)" class="btn btn-success btn-sm" onclick="addFilter()">添加</button>
            </div>
        </div>

    </div>
</div>
</div>

<div class="row">
    <div class="col-md-2">
        <a href="">设置检索结果模板</a>
    </div>
    <center>
        <button href="javascript:void(0)" class="btn btn-warning btn-sm" onclick="find()">搜索</button>
    </center>
</div>
<!--<form role="form" style="text-align: center">
    <p>条件：</p>
    <div class="form-group" id="form1">
        <select style="width: 10%">
            <option>1</option>
            <option>1</option>
            <option>1</option>
            <option>1</option>
        </select>
        <select style="width: 5%">
            <option value="">大于</option>
            <option value="">小于</option>
            <option value="">等于</option>
        </select>
        <select style="width: 10%">
            <option>1</option>
            <option>1</option>
            <option>1</option>
            <option>1</option>
        </select>
        <a style="display: none" id="jia1" onclick="jia('j1')"><span class="glyphicon glyphicon-plus-sign"
                                                                     style="color: lawngreen"></span></a>
    </div>
    <div class="form-group" id="form2">
        <select style="width: 5%">
            <option value="">并且</option>
            <option value="">或者</option>
        </select>
        <select style="width: 10%">
            <option>1</option>
            <option>1</option>
            <option>1</option>
            <option>1</option>
        </select>
        <select style="width: 5%">
            <option value="">大于</option>
            <option value="">小于</option>
            <option value="">等于</option>
        </select>
        <select style="width: 10%">
            <option>1</option>
            <option>1</option>
            <option>1</option>
            <option>1</option>
        </select>
        <a onclick="jian('j2')"><span class="glyphicon glyphicon-minus-sign" style="color: red"></span></a>
        <a style="display: none" id="jia2" onclick="jia('j2')"><span class="glyphicon glyphicon-plus-sign"
                                                                     style="color: lawngreen"></span></a>
    </div>
    <div class="form-group" id="form3">
        <select style="width: 5%">
            <option value="">并且</option>
            <option value="">或者</option>
        </select>
        <select style="width: 10%">
            <option>1</option>
            <option>1</option>
            <option>1</option>
            <option>1</option>
        </select>
        <select style="width: 5%">
            <option value="">大于</option>
            <option value="">小于</option>
            <option value="">等于</option>
        </select>
        <select style="width: 10%">
            <option>1</option>
            <option>1</option>
            <option>1</option>
            <option>1</option>
        </select>
        <a onclick="jian('j3')"><span class="glyphicon glyphicon-minus-sign" style="color: red"></span></a>
    </div>
    <div class="form-group">
        结果：<select>
        <option>1</option>
        <option>1</option>
    </select>
        <a href="">设置检索结果模板</a>
        <button type="button" style="margin-left: 2%" class="btn btn-success btn-sm"
                data-dismiss="modal" v-on:click="">检索
        </button>
    </div>
</form>-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    修改
                </h4>
            </div>
            <div class="modal-body" style="height: 300px">
                <form id="myform3">
                    <div class="row" style="margin-top: 5px">
                        <div class="col-md-6">
                            <div class="col-sm-4">
                                <label>入组时期：</label>
                            </div>
                            <div class='input-group date col-sm-8' id='datetimepicker1'>
                                <input type='text' id="groupEntryTime" name="groupEntryTime"
                                       class="form-control input-sm"/>
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar">
                                </span>
                            </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-sm-4">
                                <label>手术日期：</label>
                            </div>
                            <div class='input-group date col-sm-8' id='datetimepicker2'>
                                <input type='text' id="operationTime" name="operationTime"
                                       class="form-control input-sm"/>
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar">
                                </span>
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 5px">
                        <div class="col-md-6" style="display: none">
                            <div class="col-sm-4">
                                <label>id：</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-sm" name="id" id="id">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-sm-4">
                                <label>住院号：</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-sm" name="inpatientNumber"
                                       id="inpatientNumber">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-sm-4">
                                <label>姓名：</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-sm" name="name" id="name">
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 5px">
                        <div class="col-md-6">
                            <div class="col-sm-4">
                                <label>性别：</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-sm" name="sex" id="sex">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-4">
                                <label>年龄：</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-sm" name="age" id="age">
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 5px">
                        <div class="col-md-6">
                            <div class="col-sm-4">
                                <label>手术操作人者：</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-sm" name="operator" id="operator">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-sm-4">
                                <label>手术术式：</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-sm" name="surgicalProcedures"
                                       id="surgicalProcedures">
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 5px">
                        <div class="col-md-6">
                            <div class="col-sm-4">
                                <label>门诊号：</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-sm" name="outpatientNumber"
                                       id="outpatientNumber">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer" style="text-align: center">
        <button type="button" class="btn btn-primary" onclick="update()">
            保存
        </button>
    </div>
</div>
<div class="row" style="margin: 2%">
    <button type="button" style="margin-left: 2%" class="btn btn-success btn-sm"
            data-dismiss="modal" onclick="del()">删除
    </button>
</div>
<div class="row" style="margin: 2%">
    <table id="testTable"></table>
</div>
</div>
<script id="rowTemplate" type="text/html">
    <div id="filter" style="text-align: center">
        <div class="row">
            <div class="col-md-1">
                <select type="text" class="form-control input-sm" id="advanceFilterType">
                    <option value="and" checked="checked">并且</option>
                    <option value="or">或者</option>
                </select>
            </div>
            <div class='col-md-2'>
                <select class="form-control input-sm" type="text" name="advanceFilterField"
                        id="advanceFilterField<@=filterIndex@>">
                    <option value="">--选择字段--</option>
                    <option>白细胞</option>
                    <option>身高</option>
                    <option>体重</option>
                    <option>血糖</option>
                    <option>症状</option>
                </select>
            </div>
            <div class="col-md-1">
                <select class="form-control input-sm" type="text" name="advanceFilterType"
                        id="advanceFilterType<@=filterIndex@>">
                    <option value="0" checked="checked">等于</option>
                    <option value="1">包含</option>
                    <option value="2">不等于</option>
                    <option value="3">大于等于</option>
                    <option value="4">小于等于</option>
                    <option value="5">大于</option>
                    <option value="6">小于</option>
                </select>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" placeholder="" name="advanceFilterValLable"
                       id="advanceFilterValLable<@=filterIndex@>">
            </div>
            <div class='col-md-4' style="text-align: left">
                <button href="javascript:void(0)" class="btn btn-success btn-sm" onclick="$('#filter').remove()">删除
                </button>
            </div>
        </div>
        <lable id="advanceFilterValLable">
        </lable>
    </div>
</script>
<script type="text/javascript">
    function jian(tag) {
        var form1 = document.getElementById("form1");
        var form2 = document.getElementById("form2");
        var form3 = document.getElementById("form3");
        var jia1 = document.getElementById("jia1");
        var jia2 = document.getElementById("jia2");
        if (tag == 'j3') {
            form3.style.display = 'none';
            jia2.style.display = 'block';
        } else if (tag == 'j2') {
            form2.style.display = 'none';
            jia1.style.display = 'block';
        }
    }

    function jia(tag) {
        var form1 = document.getElementById("form1");
        var form2 = document.getElementById("form2");
        var form3 = document.getElementById("form3");
        var jia1 = document.getElementById("jia1");
        var jia2 = document.getElementById("jia2");

        if (tag == 'j2') {
            jia2.style.display = 'none';
            form3.style.display = 'block';
        } else if (tag == 'j1') {
            jia1.style.display = 'none';
            form2.style.display = 'block';
        }
    }

    $("#testTable").bootstrapTable({
        toolbar: "#toolbar",
        url: "/scheduleOfFollowUpGroup/selectAllByAdvanced",
        sidePagination: "true",
        striped: true, // 是否显示行间隔色
        //search : "true",
        uniqueId: "ID",
        pageSize: "5",
        pageList: [10, 20],
        pagination: true, // 是否分页
        //sortable: true, // 是否启用排序
        columns: [{
            checkbox: true,
        }, {
            field: 'outpatientNumber/inpatientNumber',
            title: '门诊号/住院号',
            formatter: function (value, row) {
                return row.outpatientNumber + "/" + row.inpatientNumber
            }
        }, {
            field: 'name',
            title: '姓名',
            align: 'center',
        }, {
            field: 'sex',
            title: '性别',
            align: 'center',
        }, {
            field: 'age',
            title: '年龄',
            align: 'center',
        }, {
            field: 'groupEntryTime',
            title: '入组时期',
            align: 'center',
        }, {
            field: 'operationTime',
            title: '手术日期',
            align: 'center',
        }, {
            field: 'surgicalProcedures',
            title: '手术术式',
            align: 'center',
        }, {
            field: 'operator',
            title: '手术操作者',
            align: 'center',
        }, {
            title: '操作',
            formatter: operateFormatter,
            align: 'center',
        }]

    });

    function operateFormatter(value, row, index) {
        var id = index;
        var data = JSON.stringify(row);
        var result = "";
        result += "<button data-toggle='modal'  class='btn btn-xs green' onclick=\"EditViewById('" + row + "','" + id + "')\" title='修改'>" +
            "<span class='glyphicon glyphicon-zoom-in'></span></button>";
        return result;
    }

    function del() {
        // $("#table").bootstrapTable('getSelections');为bootstrapTable自带的，所以说一定要使用bootstrapTable显示表格,#table：为table的id
        var rows = $("#testTable").bootstrapTable('getSelections');
        if (rows.length == 0) {// rows 主要是为了判断是否选中，下面的else内容才是主要
            alert("请先选择要删除的记录!");
            return;
        } else {
            var arrays = new Array();// 声明一个数组
            $(rows).each(function () {// 通过获得别选中的来进行遍历
                arrays.push(this.id);// cid为获得到的整条数据中的一列
            });
            ids = arrays.join(','); // 获得要删除的id

        }
        $.ajax({
            url: '/scheduleOfFollowUpGroup/deleteAll',
            method: 'post',
            data: {
                ids: ids
            },
            dataType: 'json',
            success: function (result) {
                if (result == 1) {
                    alert("删除成功");
                    history.go(0)
                } else {
                    alert("删除失败");
                    history.go(0)
                }
            }
        })
    }

    $(function () {
        $.ajax({
            type: 'post',
            url: '/hospitalPerson/selectOneByName/',
            data: null,
            dataType: 'json',
            success: function (data) {
                var datas = "";
                for (var i = 0; i < data.length; i++) {
                    datas += "<option value='" + data[i] + "'>" + data[i] + "</option>";
                }
                $('#personName').append(datas);
            }
        })
    });
    $(function () {
        $('#datetimepicker1').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn')
        });
        $('#datetimepicker2').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn')
        });
    })

    function EditViewById(row, index) {
        var data = JSON.stringify($("#testTable").bootstrapTable('getData'));//获取全部数据
        var data1 = JSON.parse(data);//转Json 对象
        $("#id").val(data1[index].id);
        $("#inpatientNumber").val(data1[index].inpatientNumber);
        $("#name").val(data1[index].name);
        $("#sex").val(data1[index].sex);
        $("#age").val(data1[index].age);
        $("#groupEntryTime").val(data1[index].groupEntryTime);
        $("#operationTime").val(data1[index].operationTime);
        $("#surgicalProcedures").val(data1[index].surgicalProcedures);
        $("#operator").val(data1[index].operator);
        $("#outpatientNumber").val(data1[index].outpatientNumber)
        $("#myModal").modal('show')
    }

    function update() {
        var data = $("#myform3").serialize();
        console.log(data);
        $.ajax({
            url: "/scheduleOfFollowUpGroup/updateByAdvanced",
            method: "post",
            data: data,
            dataType: 'json',
            success: function (result) {
                if (result == 1) {
                    alert("修改成功");
                    history.go(0)
                } else {
                    alert("修改失败");
                    history.go(0)
                }
            }
        })
    }
</script>
<script>
    function closeAdvanceSearch() {
        $('#advanceDialog').dialog('close');
    }
</script>
<script>

    var indexType = {};

    var advnaceIsInit = false;

    var filter_index = 0;

    function addFilter() {
        var _html = baidu.template('rowTemplate', {filterIndex: filter_index});
        $('#advanceFormDiv').append(_html);
        $.parser.parse('#filter' + filter_index);
        filter_index = filter_index + 1;
    }

    /* function filterFieldChange(_tempIndex, _record) {
         var _tempHtml = '';
         indexType[_tempIndex] = _record;
         var _needSetFilterTypeReadonly = false;
         if (_record.type == 'input' || _record.type == 'number') {
             _tempHtml = '<input type="text" id="advanceFilterVal' + _tempIndex + '"/>';
         } else if (_record.type == 'date') {
             if (!_record.formart) {
                 _record.formart = 'yyyy-MM-dd';
             }
             console.log(_record.formart);
             _tempHtml = '<input type="text" id="advanceFilterVal' + _tempIndex + '" readonly onclick="WdatePicker({dateFmt:\'' + _record.formart + '\'})"/>';
         } else if (_record.type == 'book') {
             _tempHtml = '<input type="text" id="advanceFilterVal' + _tempIndex + '"  class="easyui-combobox"' +
                 ' url="${fhs_basics_url}/webApi/wordbook/getData?wordbookGroupCode=' + _record.code + '&jsonpCallback=?" valueField="wordbookCode"  textField="wordbookDesc"/>';
             _needSetFilterTypeReadonly = true;
         } else if (_record.type == 'select') {
             _tempHtml = '<input type="text" id="advanceFilterVal' + _tempIndex + '"  class="easyui-combobox"' +
                 ' url="' + _record.url + '" valueField="' + _record.valueField + '"  textField="' + _record.textField + '"/>';
             _needSetFilterTypeReadonly = true;
         }
         if (_record.name == 'searchKey') {
             _needSetFilterTypeReadonly = true;
         }
         if (_needSetFilterTypeReadonly) {
             $('#advanceFilterType' + _tempIndex).combobox('setValue', '0');
             $('#advanceFilterType' + _tempIndex).combobox('readonly', true);
         } else {
             $('#advanceFilterType' + _tempIndex).combobox('readonly', false);
         }
         if (_record.searchKeyType == 'str') {
             $('#advanceFilterType' + _tempIndex).combobox('setValue', '1');
         }
         $('#advanceFilterValLable' + _tempIndex).html(_tempHtml);
         $.parser.parse('#advanceFilterValLable' + _tempIndex);
     }


     var extAdvanceFilterParam = [];

     function execAdvanceSearch() {

         extAdvanceFilterParam = [];
         for (i = 0; i < filter_index; i++) {
             if ($('#advanceFilterField' + i).length > 0 && $('#advanceFilterField' + i).combobox('getValue')) {
                 var _val = '';
                 if (indexType[i].type !== 'book' && indexType[i].type !== 'select') {
                     _val = $('#advanceFilterVal' + i).val();
                 } else {
                     _val = $('#advanceFilterVal' + i).combobox('getValue');
                 }
                 if (_val) {
                     extAdvanceFilterParam.push({
                         name: indexType[i].name, val: _val,
                         filterType: $('#advanceFilterType' + i).combobox('getValue'),
                         searchKeyType: indexType[i].searchKeyType,
                         fieldName: indexType[i].fieldName
                     });
                 }
             }
         }
         $('#listGrid').datagrid('load', {
             extAdvanceFilterParam: JSON.stringify({
                 filterType: $('#advanceFilterType').combobox('getValue'),
                 extAdvanceFilterParamArray: extAdvanceFilterParam
             })
         });
         //reload();
         console.log(extAdvanceFilterParam);
     }*/
    function find() {
        var data = new Array();
        $("#advanceFormDiv input[type=text],select[type=text]").each(function () {

            data.push(this.value);
        })
        console.log(data);
        $.ajax({
           url: '/scheduleOfFollowUpGroup/findAdvanced',
           method: 'post',
           data: {
               list: JSON.stringify(data)
           },
           dataType: 'json',
           success: function (result) {
               if (result == 0) {
                   alert("请输入搜索条件");
                   history.go(0)
               }
           }
       })
    }
</script>

</body>
</html>