<!DOCTYPE html>
<html lang="zh-cn" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-table.css">
    <script src="../static/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

    <script src="../static/js/moment-with-locales.min.js"></script>
    <script src="../static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="../static/js/vue.js"></script>
    <script src="../static/js/bootstrap-table.js"></script>
    <script src="../static/js/bootstrap-table-zh-CN.js"></script>
    <!--高级检索-->
</head>
<body>
<div class="container-fluid">
    <div class="row" style="margin-top: 1%;margin-left: 2%">
        <span class="glyphicon glyphicon-arrow-left" style="color: yellow"></span><a onclick="returns()">返回随访组</a>
    </div>
    <div class="page-header" style="text-align: center;margin-top: 0">
        <h3 style="color: blue">随访组标题<a><span class="glyphicon glyphicon-exclamation-sign"></span></a></h3>
    </div>
    <form id="forms" role="form" style="text-align: center">
        <p>条件：</p>
        <div class="form-group">
            <button type="button" style="margin-left: 2%" class="btn btn-success btn-sm" onclick="greater()">添加等于条件
            </button>
            <button type="button" style="margin-left: 2%" class="btn btn-success btn-sm" onclick="includes()">添加包含条件
            </button>
        </div>
        <!--<div class="form-group" id="form1">
            <select style="width: 10%">
                <option>白细胞</option>
                <option>血糖</option>
            </select>
            <select style="width: 5%">
                <option value=">">大于</option>
                <option value="<">小于</option>
                <option value="=">等于</option>
            </select>
            <input type="number" placeholder="数字">
        </div>-->
    </form>
    <!--<div class="form-group" id="form2">
        <select style="width: 10%">
            <option value="and">并且</option>
            <option value="or">或者</option>
        </select>
        <select style="width: 10%">
            <option>症状</option>
            <option>疾病名称</option>
        </select>
        <select style="width: 5%">
            <option value="U">包含</option>
            <option value="=">等于</option>
        </select>
        <input type="text">
    </div>-->
    </form>
    <div class="form-group">
        <!--结果：<select>
                    <option>1</option>
                    <option>1</option>
                </select>
        <a href="">设置检索结果模板</a>-->
        <button type="button" style="margin-left: 2%" class="btn btn-success btn-sm"
                data-dismiss="modal" onclick="search()">检索
        </button>
    </div>
    <div class="row" style="margin: 2%">
        <table id="testTable"></table>
    </div>
</div>
<script type="text/javascript">
    var urlinfo=window.location.href; //获取当前页面的url
    len=urlinfo.length;//获取url的长度
    var offset=urlinfo.indexOf("?");//设置参数字符串开始的位置
    var  newsidinfo=urlinfo.substr(offset,len)//取出参数字符串 这里会获得类似“id=1”这样的字符串
    var newsids=newsidinfo.split("=");//对获得的参数字符串按照“=”进行分割
    var  id=newsids[1];

    function greater() {
        var result="<div class=\"form-group\" id=\"form1\">\n" +
            "            <select class='select1' style=\"width: 5%\">\n" +
            "                <option value=\"and\">并且</option>\n" +
            "                <option value=\"or\">或者</option>\n" +
            "            </select>\n" +
            "            <select class='select2' style=\"width: 10%\">\n" +
            "                <option value='whiteBloodCell'>白细胞</option>\n" +
            "                <option value='bloodSugar'>血糖</option>\n" +
            "            </select>\n" +
            "            <select class='select3' style=\"width: 5%\">\n" +
            "                <option value=\">\">大于</option>\n" +
            "                <option value=\"<\">小于</option>\n" +
            "                <option value=\"=\">等于</option>\n" +
            "            </select>\n" +
            "            <input class='inp' type=\"number\" placeholder=\"数字\">\n" +
            "            <a id='remo'><span class=\"glyphicon glyphicon-minus-sign\" style=\"color: red\"></span></a>\n" +
            "        </div>";
        $result =$(result);
        $result.find("#remo").click(function () {
           $(this)[0].parentNode.remove();
        })
        $("#forms").append($result);
    }

    function includes() {

        var result="<div class=\"form-group\" id=\"form2\">\n" +
            "        <select class='select1' style=\"width: 5%\">\n" +
            "            <option value=\"and\">并且</option>\n" +
            "            <option value=\"or\">或者</option>\n" +
            "        </select>\n" +
            "        <select class='select2' style=\"width: 10%\">\n" +
            "            <option value='symptom'>症状</option>\n" +
            "            <option value='diseaseName'>疾病名称</option>\n" +
            "        </select>\n" +
            "        <select class='select3' style=\"width: 5%\">\n" +
            "            <option value=\"=\">等于</option>\n" +
            "        </select>\n" +
            "        <input class='inp' type=\"text\">\n" +
            "        <a id='remo'><span class=\"glyphicon glyphicon-minus-sign\" style=\"color: red\"></span></a>\n" +
            "    </div>";
        $result =$(result);
        $result.find("#remo").click(function () {
            $(this)[0].parentNode.remove();
        })
        $("#forms").append($result);
    }

    function search() {
        var element1 = document.getElementsByClassName("select1");
        var element2 = document.getElementsByClassName("select2");
        var element3 = document.getElementsByClassName("select3");
        var inp = document.getElementsByClassName("inp");
        var a="ok";
        for(var i=0;i<inp.length;i++){
            if(inp[i].value == null || inp[i].value == ""){
                alert("所有条件不能为空！");
                a="flase";
            }
        }
        if(a == "ok"){
            var list = [];
            for(var i=0;i<element2.length;i++){
                var array={"conjunction":element1[i].value,"conditionName":element2[i].value,"comparisonOperators":element3[i].value,"conditionContent":inp[i].value,"groupId":id};
                list.push(array)
            }
            $.ajax({
                url: '/user/advanceSearch',
                type: 'post',
                data: JSON.stringify(list),
                dataType: 'json',
                contentType: 'application/json',
                success:function (res) {
                    $("#testTable").bootstrapTable("load",res);
                    console.log(JSON.stringify(list));
                }
            })
        }


    }

    $("#testTable").bootstrapTable({
        method: 'get',
        url:'/scheduleOfFollowUpGroup/selectByFollowUpGroupId',
        toolbar: "#toolbar",
        sidePagination: "true",
        striped: true, // 是否显示行间隔色
        uniqueId: "ID",
        pageSize: "5",
        pageList: [5, 10],
        pagination: true, // 是否分页
        //sortable: true, // 是否启用排序
        queryParams: function(params) {
            var param = {};
            param['followUpGroupId'] = id; // 页码
            return param;
        },
        columns: [{
                field: 'id',
                title: '门诊号/住院号',
                align: 'center',
                formatter: function(value, row, index) {
                    return row.outpatientNumber+"/"+row.inpatientNumber;
                }
            }, {
                field: 'name',
                title: '姓名',
                align: 'center',
            },{
                field: 'sex',
                title: '性别',
                align: 'center',
            },{
                field: 'age',
                title: '年龄',
                align: 'center',
            },{
                field: 'groupEntryTime',
                title: '入组时期',
                align: 'center',
            }
        ]
    });
    /*function operateFormatter(value, row, index){
        //添加按钮
        var rows = JSON.stringify(row);
        var id = row.id;
        console.log(id);
        var result = "";
        result += "<a href='javascript:;' class='btn btn-xs green' onclick=\"EditViewById('" + id + "', view='view')\" title='查看'><span class='glyphicon glyphicon-zoom-in'></span></a>";
        return result;
    }*/

    function returns() {
        window.location.href="inDividualFollowUpGroupManagement.html?id="+id;
    }
</script>
</body>
</html>