<!DOCTYPE html>
<html lang="zh-cn" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-table.css">
    <script src="../static/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

    <script src="../static/js/moment-with-locales.min.js"></script>
    <script src="../static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="../static/js/vue.js"></script>
    <script src="../static/js/bootstrap-table.js"></script>
    <script src="../static/js/bootstrap-table-zh-CN.js"></script>
    <!--修改密码-->
</head>
<body>
<div class="container-fluid">
    <form role="form" style="text-align: center;margin-top: 5%;">
        <div class="form-group col-sm-12">
            <div class="col-sm-1">旧密码：</div>
            <div class="col-sm-1">
                <input type="text" class="form-control input-sm" v-model="">
            </div>
            <div class="col-sm-1">请输入旧密码</div>
        </div>
        <div class="form-group col-sm-12">
            <div class="col-sm-1">新密码：</div>
            <div class="col-sm-1">
                <input type="text" class="form-control input-sm" v-model="">
            </div>
            <div class="col-sm-1">6-16位字母，数字，符号</div>
        </div>
        <div class="form-group col-sm-12">
            <div class="col-sm-1">确认新密码：</div>
            <div class="col-sm-1">
                <input type="text" class="form-control input-sm" v-model="">
            </div>
            <div class="col-sm-1">请再次确认新密码</div>
        </div>
        <div class="form-group col-sm-12">
            <div class="col-sm-3">
            <button type="button" class="btn btn-info btn-sm" data-dismiss="modal" v-on:click=" screen()">保存</button>
            </div>
        </div>

    </form>
</div>
</body>
</html>