<!DOCTYPE html>
<html lang="zh-cn" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>数据复核</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-table.css">
    <script src="../static/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

    <script src="../static/js/moment-with-locales.min.js"></script>
    <script src="../static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="../static/js/vue.js"></script>
    <script src="../static/js/bootstrap-table.js"></script>
    <script src="../static/js/bootstrap-table-zh-CN.js"></script>

    <!--数据复核-->

</head>
<body>
    <div class="container" id="box" >
        <form role="form" style="color: #0079d7" >
            <div class="row" style="margin-top: 5px">
                <div class="col-md-4">
                    <div class="col-md-8" style="text-align:right">
                        <label>随访组名称：</label>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control input-sm" v-model="aa">
                            <option>-请选择-</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-4" style="text-align:right">
                        <label>患者：</label>
                    </div>
                    <div class="col-md-4" style="text-align:left">
                        <input type="text" class="form-control" v-model="name">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-4" style="text-align:right">
                        <label>数据项：</label>
                    </div>
                    <div class="col-md-4" style="text-align:left">
                        <input type="text" class="form-control" v-model="bb"  >
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 5px">
                <div class="col-md-4">
                    <div class="col-md-8" style="text-align:right">
                        <label>质疑者：</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" v-model="cc"  >
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-4" style="text-align:right">
                        <label>复核者：</label>
                    </div>
                    <div class="col-md-4" style="text-align:left">
                        <input type="text" class="form-control" v-model="dd" >
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-4" style="text-align:right">
                        <label>复核时间：</label>
                    </div>
                    <div class='input-group date col-sm-4' style="text-align:left" id='datetimepicker1'>
                        <input type='text' class="form-control"/>
                        <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar">
                                </span>
                            </span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 5px">
                <div class="col-md-4">
                    <div class="col-md-8" style="text-align:right">
                        <label  >表单名称：</label>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control input-sm" v-model="ee">
                            <option>-请选择-</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-4" style="text-align:right">
                        <label  >状态：</label>
                    </div>
                    <div class="col-md-4" style="text-align:left">
                        <input type="checkbox">待复核
                        <input type="checkbox">已修正
                        <input type="checkbox">撤回
                    </div>
                </div>
                <div class="col-md-4" style="text-align:center">
                    <button type="button" class="btn btn-default" v-on:click="add">检索</button>
                    <button type="button" class="btn btn-default" v-on:click="aaa">清空</button>
                </div>
            </div>

        </form>
        <div class="row">
            <table id="table"></table>
        </div>
    </div>

    <!-- 模态框（Modal） -->
     <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         <div class="modal-dialog">
             <div class="modal-content">
                 <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                         &times;
                     </button>
                     <h4 class="modal-title" id="myModalLabel">
                         复核明细
                     </h4>
                 </div>
                 <div class="modal-body" style="height: 300px">
                     <div  class="row" style="margin-top: 5px">
                         <div class="col-sm-6">
                             <div class="col-md-6"  >
                                 <label>提出人：</label>
                             </div>
                             <span>随访员1</span>
                         </div>
                         <div class="col-sm-6">
                             <div class="col-md-6"  >
                                 <label>提出时间：</label>
                             </div>
                             <span>2020.09.24 </span>
                         </div>
                     </div>
                     <div  class="row" style="margin-top: 5px">
                         <div class="col-md-12">
                             <div class="col-md-2">
                                 <label>修改为：</label>
                             </div>
                             <div class="col-sm-10">
                                 <input type="text" class="form-control input-sm" v-model="">
                             </div>
                         </div>
                     </div>
                     <div  class="row" style="margin-top: 5px">
                         <div class="col-md-12">
                             <div class="col-md-2">
                                 <label>修改意见：</label>
                             </div>
                             <div class="col-sm-10">
                                 <textarea class="form-control" rows="9"></textarea>
                             </div>
                         </div>
                     </div>
                 </div>
                 <div class="modal-footer" style="text-align: center">
                     <button type="button" class="btn btn-primary">
                         保存
                     </button>
                 </div>
             </div><!-- /.modal-content -->
         </div><!-- /.modal -->
     </div>


<script type="text/html" id="barDemo">
    <a v-on:click="preview()">
        <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
    </a>
</script>


<script>
   new Vue({
       el: '#box',
       data: {
           name: '雷电法王',
       },
       methods: {
           add: function () {
               alert(this.name);
           }
       }
   })
</script>
<script type="text/javascript">
    $("#table").bootstrapTable({
        toolbar: "#toolbar",
        sidePagination: "true",
        striped: true, // 是否显示行间隔色
        //search : "true",
        uniqueId: "ID",
        pageSize: "5",
        pageList: [10, 20],
        pagination: true, // 是否分页
        //sortable: true, // 是否启用排序
        columns: [{
            checkbox:true,
        },{
            field: 'id',
            title: '随访组名称',
            align: 'center',
        }, {
            field: 'name',
            title: '表单',
            align: 'center',
        }, {
            field: 'price',
            title: '数据项',
            align: 'center',
        },{
            field: 'name',
            title: '患者',
            align: 'center',
        },{
            field: 'age',
            title: '值',
            align: 'center',
        },{
            field: 'price',
            title: '质疑者',
            align: 'center',
        },{
            field: 'price',
            title: '复核者',
            align: 'center',
        },{
            field: 'price',
            title: '状态',
            align: 'center',
        },{
            field: 'price',
            title: '复核时间',
            align: 'center',
        }, {
            title: '操作',
            formatter: operateFormatter,
            align: 'center',
        }
        ], //数据
        data: [{
            id: 1,
            name: 'ww',
            price: 55
        }, {
            id: 2,
            name: 'ww',
            price: 55
        }, {
            id: 3,
            name: 'ww',
            price: 55
        }, {
            id: 4,
            name: 'ww',
            price: 55
        }, {
            id: 5,
            name: 'ww',
            price: 55
        }, {
            id: 6,
            name: 'ww',
            price: 55
        }, {
            id: 6,
            name: 'ww',
            price: 55
        }, {
            id: 6,
            name: 'ww',
            price: 55
        }, {
            id: 6,
            name: 'ww',
            price: 55
        }, {
            id: 6,
            name: 'ww',
            price: 55
        }, {
            id: 6,
            name: 'ww',
            price: 55
        }]
    });

    function operateFormatter(value, row, index){
        //添加按钮
        var rows = JSON.stringify(row);
        var id = row.id;
        var result = "";
        result += "<button data-toggle='modal' data-target='#myModal' class='btn btn-xs green' onclick=\"EditViewById('" + id + "', view='view')\" title='查看'><span class='glyphicon glyphicon-zoom-in'></span></button>";
        return result;
    }

    $(function () {
        $('#datetimepicker1').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn')
        });
        $('#datetimepicker2').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn')
        });
    })
    function EditViewById(id,view) {


    }

</script>
</body>
</html>