<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-table.css">
    <script src="../static/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

    <script src="../static/js/moment-with-locales.min.js"></script>
    <script src="../static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="../static/js/vue.js"></script>
    <script src="../static/js/bootstrap-table.js"></script>
    <script src="../static/js/bootstrap-table-zh-CN.js"></script>
    <script src="../static/js/bootstrap-treeview.js"></script>
    <!--表单总览-->
</head>
<body>
<div class="container-fluid">
    <div class="page-header" style="text-align: left;margin-top: 0">
        <h3 style="color: #28a4c9">表单总览</h3>
    </div>
    <div class="col-md-2">
        <table id="tree"></table>
    </div>
    <div class="col-md-10" style="border-left: 1px solid #ccc;">
        <form id="myform">
            <div class="col-md-5 ">
                <div class="col-sm-6" style="margin-top: 5px;text-align: right">
                    随访组名称：
                </div>
                <div class="col-sm-6" style="text-align: right">
                    <select class="form-control input-sm" name="groupName" id="groupName">
                        <option value="">-请选择-</option>
                    </select>
                </div>
            </div>
            <div class="col-md-5">
                <div class="col-md-3" style="margin-top: 5px;text-align: left">
                    创建日期：
                </div>
                <div class="col-md-9" style="text-align: left">
                    <div class='input-group date col-sm-12' style="margin-left: 47%;text-align: left"
                         id='datetimepicker1'>
                        <input type='text' name="creationDate1" class="form-control"/>
                        <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar">
                                </span>
                            </span>

                    </div>
                    <div class='input-group date col-sm-12' style="margin-left: 47%" id='datetimepicker2'>
                        <input type='text' name="creationDate2" class="form-control"/>
                        <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar">
                                </span>
                            </span>
                    </div>
                </div>
            </div>
            <div class="col-md-5 ">
                <div class="col-sm-6" style="margin-top: 5px;text-align: right">
                    模板名称：
                </div>
                <div class="col-sm-6" style="text-align: right">
                    <input type="text" name="templateName" class="form-control" placeholder="">
                </div>
            </div>
            <div class="col-md-5">
                <div class="col-sm-3" style="margin-top: 5px;text-align: left">
                    创建者：
                </div>
                <div class="col-sm-6" style="text-align: left">
                    <input type="text" name="creator" class="form-control" placeholder="">
                </div>
            </div>
            <div class="col-md-2">
                <div class="col-sm-6" style="text-align: center">
                    <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" onclick="find()">
                        检索
                    </button>
                </div>
                <div class="col-sm-6" style="text-align: center">
                    <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" onclick="empty()">
                        清空
                    </button>
                </div>
            </div>
            <div>
                <div class="tab-content" style="margin-right: 2%;margin-left: 2%">
                    <div id="t1" class="tab-pane fade in active">
                        <div class="row">
                            <table id="testTable"></table>
                        </div>
                    </div>
                    <div id="t2" class="tab-pane fade">2</div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/html" id="barDemo">
    <a v-on:click="preview()">
        <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
    </a>
</script>
<script>
    $("#testTable").bootstrapTable({
        url: '/template/selectAll',
        toolbar: "#toolbar",
        sidePagination: "true",
        striped: true, // 是否显示行间隔色
        //search : "true",
        uniqueId: "templateId",
        pageSize: "5",
        showToggle: false,
        pageList: [5, 10, 15, 20],
        pagination: true, // 是否分页
        //sortable: true, // 是否启用排序
        queryParams: queryParams,//传递参数（*）
        onLoadSuccess: function () {//当所有数据被加载时触发处理函数
            var data = $('#testTable').bootstrapTable('getData', true);
            mergeCells(data, 'templateName', 1, $('#testTable'));
            mergeCells(data, 'groupName', 1, $('#testTable'));
        },
        onPageChange: function () {//当页面更改页码或页面大小时触发
            var data = $('#testTable').bootstrapTable('getData', true);
            mergeCells(data, 'templateName', 1, $('#testTable'));
            mergeCells(data, 'groupName', 1, $('#testTable'));
        },
        method: 'get',
        columns: [{
            field: 'templateName',
            title: '模板名称',
            align: 'center',
        }, {
            field: 'groupName',
            title: '随访组名',
            align: 'center',
            formatter: function (value, row, index) {
                return row.fm.groupName;
            }
        }, {
            field: 'updateDate',
            title: '更新日期',
            align: 'center',
            formatter: function (value, row, index) {
                return value.substring(0, 10);
            }
        }, {
            field: 'updatedBy',
            title: '更新者',
            align: 'center',
        }, {
            field: 'versionNumber',
            title: '版本号',
            align: 'center',
        }, {
            field: 'creator',
            title: '创建者',
            align: 'center',
        }, {
            field: 'creationDate',
            title: '创建日期',
            align: 'center',
            formatter: function (value, row, index) {
                return value.substring(0, 10);
            }
        }, {
            field: 'templateState',
            title: '状态',
            align: 'center',
            formatter: openDetails,
            /*formatter: function (value, row, index) {
                if (row.templateState == "1") {
                    value = "当前版本"
                } else if (row.templateState == "2") {
                    value = "未发布"
                } else {
                    value = "已发布"
                }
                return value;
            }*/
        }]

    });

    function mergeCells(data, fieldName, colspan, target) {
        //声明一个map计算相同属性值在data对象出现的次数和
        var sortMap = {};
        for (var i = 0; i < data.length; i++) {
            for (var prop in data[i]) {
                if (prop == fieldName) {
                    var key = data[i][prop] //fieldName的value
                    if (sortMap.hasOwnProperty(key)) {
                        sortMap[key] = sortMap[key] * 1 + 1;
                    } else {
                        sortMap[key] = 1;
                    }
                    break;
                }
            }
        }
        var index = 0;
        for (var prop in sortMap) {
            var count = sortMap[prop] * 1;
            $(target).bootstrapTable('mergeCells', {index: index, field: fieldName, colspan: colspan, rowspan: count});
            index += count;
        }
    }


    function openDetails(value, row, index) {
        if (row.templateState == "1") {
            value = "当前版本"
        } else if (row.templateState == "2") {
            value = "历史版本"
        } else {
            value = "已发布"
        }
        console.log(row.fm.groupName);
        return ['<a onclick=findTemp("' + row.templateId + '","' + row.followUpGroupId + '","' + row.fm.groupName + '")>'+value+'</a>'].join("");
    }

    function findTemp(tempId,id,name){
        document.cookie = "groupName="+name+"";
        window.location.href="templateDesign.html?tempid="+tempId+"&&id="+id;
    }
    $(function () {
        $('#datetimepicker1').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn')
        });
        $('#datetimepicker2').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn')
        });
    })

    function EditViewById(id, view) {
        console.log(id);
        console.log(view);

    }

    //树形
    var tree = [
        {
            text: "通用模板",
            id: 1,
            nodes: [
                {
                    text: "基本信息",
                    id: 2
                },
                {
                    text: "检验套餐",
                    id: 2,
                    nodes: [
                        {
                            text: "血常规",
                            id: 3
                        },
                        {
                            text: "血生化",
                            id: 4
                        },
                        {
                            text: "尿常规",
                            id: 4
                        },
                    ]
                },
                {
                    text: "检查套餐",
                    id: 5,
                    nodes: [
                        {
                            text: "超声",
                            id: 3
                        },
                        {
                            text: "核链",
                            id: 4
                        }
                    ]
                }
            ]
        },
        {
            text: "内分泌科",
            id: 6,
            nodes: [{
                text: "糖尿病首诊",
                id: 7
            }, {
                text: "甲状腺状况分析",
                id: 7
            }]
        },
        {
            text: "肾内科",
            id: 7,
            nodes: [{
                text: "健康评分",
                id: 7
            }]
        },
        {
            text: "神经内科",
            id: 8,
            nodes: [{
                text: "评估表",
                id: 7
            }]
        },
        {
            text: "新研所",
            id: 9,
            nodes: [{
                text: "高血压评估表",
                id: 7
            }, {
                text: "冠心病评估表",
                id: 7
            }]
        }
    ];
    $('#tree').treeview({
        data: tree,         // 数据源
        showCheckbox: false,   //是否显示复选框
        highlightSelected: true,    //是否高亮选中
        /*   nodeIcon: 'glyphicon glyphicon-user',    //节点上的图标
           nodeIcon: 'glyphicon glyphicon-globe',*/   // 图标
        emptyIcon: '',    //没有子节点的节点图标
        multiSelect: false,    //多选
        onNodeChecked: function (event, data) {
            console.log("nodeId = " + data.nodeId);
            console.log("id = " + data.id);
        },
        onNodeSelected: function (event, data) {
            console.log("nodeId = " + data.nodeId);
            console.log("id = " + data.id);
        }
    });

    function queryParams(params) {
        var temp = $("#myform").serialize();
        return temp;
    }

    function find() {
        $("#testTable").bootstrapTable('refresh');
    }

    function empty() {
        var formComponent = $('#myform');
        formComponent.find('input:text').val('');
    }

    $(function () {
        $.ajax({
            type: 'post',
            url: '/followUpGroupManagement/selectGroupName/',
            data: null,
            dataType: 'json',
            success: function (data) {
                var datas = "";
                for (var i = 0; i < data.length; i++) {
                    datas += "<option value='" + data[i] + "'>" + data[i] + "</option>";
                }
                $('#groupName').append(datas);
            }
        })
    })
</script>
</body>
</html>