<!DOCTYPE html>
<html lang="zh-cn" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>数据复核</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-table.css">
    <script src="../static/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../static/js/moment-with-locales.min.js"></script>
    <script src="../static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="../static/js/vue.js"></script>
    <script src="../static/js/bootstrap-table.js"></script>
    <script src="../static/js/bootstrap-table-zh-CN.js"></script>

    <!--数据复核-->

</head>
<body>
    <div class="container" id="box" >
        <div  style="text-align: center;margin-top: 0">
            <h3 class="col-md-2"  style="color: #28a4c9">随访组管理</h3>
            <a href="../templates/new_follow_up_group.html" class="col-md-9" style="color: #ff1b02;margin-top: 30px;text-align: left">新建随访组</a>
        </div>
        <form style="color: #0079d7;margin-top: 90px" >
            <div class="row" style="margin-top: 5px">
                <div class="col-md-4" style="text-align:left">
                    <div class="col-md-4" style="text-align:right">
                        <label>负责人：</label>
                    </div>
                    <div class="col-md-8" style="text-align:left">
                        <input type="text" class="form-control" v-model="item.personInCharge">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-4" style="text-align:right">
                        <label>科室：</label>
                    </div>
                    <div class="col-md-8">
                        <select class="form-control input-sm" v-model="responsibilityDepartments">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-4" style="text-align:right">
                        <label>状态：</label>
                    </div>
                    <div class="col-md-8">
                        <select class="form-control input-sm" v-model="state">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 5px">
                <div class="col-md-8" >
                    <div class="col-md-2" style="text-align:right">
                        <label>创建日期：</label>
                    </div>
                    <div class='input-group date col-md-3'  id='datetimepicker1'>
                        <input type='text' class="form-control"/>
                        <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar">
                                </span>
                            </span>
                    </div>
                    <p class="col-md-1" style="margin-left: 60px">~</p>
                    <div class='input-group date col-md-3' style="margin-left: 125px"  id='datetimepicker2'>
                        <input type='text' class="form-control"/>
                        <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar">
                                </span>
                            </span>
                    </div>
                </div>
                <div class="col-md-4" style="text-align:center">
                    <button type="button" class="btn btn-default" v-on:click="retrieval">检索</button>
                    <button type="button" class="btn btn-default" v-on:click="clear">清空</button>
                </div>
            </div>
        </form>

        <div class="row" style="margin-top: 20px">
            <div class="col-md-4">
                <button type="button" style="margin-left: 50px" class="btn btn-success btn-sm" data-dismiss="modal" v-on:click="edit">编辑</button>
                <button type="button" style="margin-left: 10px" class="btn btn-success btn-sm" data-dismiss="modal" v-on:click="deleteData">删除</button>
            </div>
            <table id="table"></table>
        </div>
    </div>

<script type="text/html" id="barDemo">
    <a v-on:click="preview()">
        <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
    </a>
</script>


<script>
   new Vue({
       el: '#box',
       data: {
           item:{
               responsibilityDepartments:'',
               personInCharge:'',
               state:'',
               startTime:'',
               endTime:'',
           },

       },
       methods: {
           retrieval:function(){
               var startTime = $("#datetimepicker1").find("input").val();
               var endTime = $("#datetimepicker2").find("input").val();
               let formData = this.item;
               formData.startTime = startTime;
               formData.endTime = endTime;
               axios.post('/followUpGroupManagement/selectAllCondition', formData)
                   .then(function (response) {
                       var data = response.data;
                       $("#table").bootstrapTable('load', data);
                   })
                   .catch(function (error) {
                       if(error.data != 1){
                           alert("保存失败")
                       }
                   });
           },
           edit: function () {
               var row=$("#table").bootstrapTable('getSelections');
               var id = row[0].id;
               window.location.href = "../templates/follow_up_group_detail.html?id="+id;
           },
           deleteData: function () {
               var row=$("#table").bootstrapTable('getSelections');
               var ids = new Array();
               for (var i=0;i<row.length;i++){
                    ids.push(row[i].id);
               };
               axios.post('/followUpGroupManagement/deleteById',ids)
               .then(function () {
                   $('#table').bootstrapTable('refresh');
               })
               .catch(function (err) {

               })
           },
       },
   })
</script>
<script type="text/javascript">
    $("#table").bootstrapTable({
        url:'/followUpGroupManagement/selectAll',
        toolbar: "#toolbar",
        sidePagination: "true",
        striped: true, // 是否显示行间隔色
        //search : "true",
        uniqueId: "ID",
        pageSize: "5",
        pageList: [10, 20],
        pagination: true, // 是否分页
        //sortable: true, // 是否启用排序
        columns: [{
            checkbox:true,
            singleSelect:true
        },{
            field: 'groupName',
            title: '名称',
            align: 'center',
            formatter: openDetails,
        }, {
            field: 'enrolmentRate',
            title: '入组率',
            align: 'center',
        }, {
            field: 'personInCharge',
            title: '负责人',
            align: 'center',
        },{
            field: 'state',
            title: '状态',
            align: 'center',
        },{
            field: 'responsibilityDepartments',
            title: '科室',
            align: 'center',
        },{
            field: 'createTime',
            title: '创建日期',
            align: 'center',
        }
        ],
    });

    function openDetails(value, row, index){;
        return ['<a href="../templates/inDividualFollowUpGroupManagement.html?id='+row.id+'">'+value+'</a>'].join("");
    }



    $(function () {
        $('#datetimepicker1').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn')
        });
        $('#datetimepicker2').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn')
        });
    })


</script>
</body>
</html>