<!DOCTYPE html>
<html lang="zh-cn" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-table.css">
    <script src="../static/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../static/jQuery/jquery.cookie.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../static/js/moment-with-locales.min.js"></script>
    <script src="../static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="../static/js/vue.js"></script>
    <script src="../static/js/bootstrap-table.js"></script>
    <script src="../static/js/bootstrap-table-zh-CN.js"></script>
    <!--单个随访组管理-->

</head>
<body>
<div class="container-fluid" id="app">
    <div class="row" style="margin-top: 1%;margin-left: 2%">
        <span class="glyphicon glyphicon-arrow-left" style="color: yellow"></span><a href="../templates/group_management.html">切换随访组</a>
    </div>
    <div class="page-header" style="text-align: center;margin-top: 0">
        <h3 style="color: blue">随访组标题<a><span class="glyphicon glyphicon-exclamation-sign"></span></a></h3>
    </div>
    <div class="page-header" style="margin-left: 1%;margin-top: 0" v-if="isGroupMember.is === 'yes'">
        <button type="button" class="btn btn-info btn-sm" data-dismiss="modal" onclick="permission()">权限管理</button>
        <button type="button" class="btn btn-info btn-sm" data-dismiss="modal" onclick="groupEntry()">入组管理</button>
        <button type="button" class="btn btn-info btn-sm" data-dismiss="modal" onclick="template()">模板设置</button>
        <button type="button" class="btn btn-info btn-sm" data-dismiss="modal" onclick="ruleSetting()">随访规定设定</button>
        <button type="button" class="btn btn-info btn-sm" data-dismiss="modal" onclick="diag()">诊疗方案</button>
        <button type="button" class="btn btn-info btn-sm" data-dismiss="modal" v-on:click="screen()">节假日管理</button>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <form>
                <div class="row">
                    <div class="col-sm-5" style="margin-top: 5px">
                        门诊号：
                    </div>
                    <div class="col-sm-7">
                        <input type="text" class="form-control input-sm" v-model="item.outpatientNumber">
                    </div>
                </div>
                <div class="row" style="margin-top: 5%">
                    <div class="col-sm-5" style="margin-top: 5px">
                        住院号：
                    </div>
                    <div class="col-sm-7">
                        <input type="text" class="form-control input-sm" v-model="item.inpatientNumber">
                    </div>
                </div>
                <div class="row" style="margin-top: 5%">
                    <div class="form-group">
                        <div class="col-sm-5" style="margin-top: 5px">
                            入组日期：
                        </div>
                        <div class='input-group date col-sm-6' style="margin-left: 47%" id='datetimepicker1'>
                            <input type='text' class="form-control"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar">
                                </span>
                            </span>
                        </div>
                        <div class="col-sm-7" style="text-align: right">~</div>
                        <div class='input-group date col-sm-6' style="margin-left: 47%" id='datetimepicker2'>
                            <input type='text' class="form-control"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar">
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 5%">
                    <div class="col-sm-5" style="margin-top: 5px">
                        性别：
                    </div>
                    <div class="col-sm-7">
                        <select class="form-control input-sm" v-model="item.sex">
                            <option>-请选择-</option>
                            <option>男</option>
                            <option>女</option>
                        </select>
                    </div>
                </div>
                <div class="row" style="margin-top: 5%">
                    <div class="col-sm-5" style="margin-top: 5px">
                        姓名：
                    </div>
                    <div class="col-sm-7">
                        <input type="text" class="form-control input-sm" v-model="item.name">
                    </div>
                </div>
                <div class="row" style="margin-top: 10%;text-align: center">
                    <button type="button" class="btn btn-info btn-sm" data-dismiss="modal" v-on:click="retrieval">检索</button>
                    <a href="../templates/advancedSearch.html">高级检索</a>
                </div>
            </form>
        </div>
        <div class="col-sm-10" style="border-left: 1px solid #ccc">
            <div class="row" style="margin: 1%;" v-if="isGroupMember.is === 'yes'">
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModalAdd" >
                   新增
                </button>
                <button type="button" style="margin-left: 2%" class="btn btn-info btn-sm"
                        data-toggle="modal" data-target="#myModalEdit" v-on:click="edit">编辑
                </button>
                <button type="button" style="margin-left: 2%" class="btn btn-info btn-sm"
                        data-dismiss="modal" v-on:click="deleteRow">删除
                </button>
            </div>
            <div class="row" style="margin-left: 1%;margin-right: 1%">
                <table id="testTable"></table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="#t1" data-toggle="tab">自定义患者</a></li>
                <li role="presentation"><a href="#t2" data-toggle="tab">导入excel文件</a></li>
            </ul>
            <div class="tab-content" style="margin-right: 2%;margin-left: 2%">
                <div id="t1" class="tab-pane fade in active">
                    <form style="margin-top: 2%">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="col-sm-4" style="margin-top: 5px">
                                    住院号：
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control input-sm" v-model="item.inpatientNumber">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="col-sm-4" style="margin-top: 5px">
                                    姓名：
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control input-sm" v-model="item.name">
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 2%">
                            <div class="col-sm-6">
                                <div class="col-sm-4" style="margin-top: 5px">
                                    门诊号：
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control input-sm" v-model="item.outpatientNumber">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="col-sm-4" style="margin-top: 5px">
                                    性别：
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control input-sm" v-model="item.sex">
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 2%">
                            <div class="col-sm-6">
                                <div class="col-sm-4" style="margin-top: 5px">
                                    年龄：
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control input-sm" v-model="item.age">
                                </div>
                            </div>
                            <div class="col-sm-6">

                            </div>
                        </div>
                    </form>
                </div>
                <div id="t2" class="tab-pane fade">
                    <div class="row" style="margin-top: 5%;">
                        <input style="text-align: center" type="file" name="file" id="test20">
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:5%;margin-bottom:2%;text-align: center">
                <button type="button" class="btn btn-info btn-sm" data-dismiss="modal" v-on:click="add">
                    确定
                </button>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="myModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form style="margin-top: 2%">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="col-sm-4" style="margin-top: 5px">
                            住院号：
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control input-sm" id="inpatientNumber" v-model="item.inpatientNumber">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-4" style="margin-top: 5px">
                            姓名：
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control input-sm" id="name">
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 2%">
                    <div class="col-sm-6">
                        <div class="col-sm-4" style="margin-top: 5px">
                            门诊号：
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control input-sm" id="outpatientNumber">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-4" style="margin-top: 5px">
                            性别：
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control input-sm" id="sex">
                        </div>
                    </div>
                    <div class="col-sm-6" style="display: none">
                        <div class="col-sm-4" style="margin-top: 5px">
                           id:
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control input-sm" id="id">
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:5%;margin-bottom:2%;text-align: center">
                    <button type="button" class="btn btn-info btn-sm" data-dismiss="modal" v-on:click="update">
                        确定
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/html" id="barDemo">
    <a v-on:click="preview()">
        <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
    </a>
</script>
<script>


    new Vue({
        el:'#myModalAdd',
        data:{
            item:{
                inpatientNumber:'',
                outpatientNumber:'',
                name:'',
                sex:'',
                age:'',
            },
        },
        methods:{
            add:function () {
                var formData = this.item;
                formData.followUpGroupId = id;
                axios.post('/scheduleOfFollowUpGroup/newAddScheduleOfFollowUpGroup', formData)
                    .then(function (response) {
                        if(response.data == 1){
                            alert("添加成功")
                            $("#testTable").bootstrapTable('refresh');
                        }

                    })
                    .catch(function (error) {

                    });
            },

        }
    })

    new Vue({
        el:'#myModalEdit',
        data:{
            item:{
                inpatientNumber:'',
                outpatientNumber:'',
                name:'',
                sex:'',
                id:'',
            },
        },
        methods:{
            update:function () {
                var formData = this.item;
                formData.inpatientNumber=$("#inpatientNumber").val();
                formData.outpatientNumber=$("#outpatientNumber").val();
                formData.name=$("#name").val();
                formData.sex=$("#sex").val();
                formData.id=$("#id").val();
                console.log(formData);
                axios.post('/scheduleOfFollowUpGroup/updateScheduleOfFollowUpGroup', formData)
                    .then(function (response) {
                        if(response.data == 1){
                            alert("修改成功")
                            $("#testTable").bootstrapTable('refresh');
                        }

                    })
                    .catch(function (error) {

                    });
            },

        }
    })


    var vm = new Vue({
        el:'#app',
        data:{
            item:{
                inpatientNumber:'',
                outpatientNumber:'',
                name:'',
                sex:'',
            },
            isGroupMember:{
                is:'no',
            },
        },
        mounted:function(){
            var newHref = window.location.href;
            var num1 = newHref.indexOf('id=') + 3;
            var num2 = newHref.indexOf('&');
            var idVal = newHref.substring(num1, num2);
            var id = idVal;
            var formData = {};
            formData.followUpGroupId=id;
            axios.post('/followUpGroupManagement/findByFollowUpGroupId',formData)
                .then(function (response) {
                    var datas = response.data;
                    var username1 = $.cookie("userName");
                    for(var i=0;i<datas.length;i++){
                        if(datas[i].name == username1){
                            vm.isGroupMember.is='yes';
                            console.log(vm.isGroupMember.is);
                        }
                    }

                }).catch(function () {});
        },
        methods:{
            deleteRow:function () {
                var row=$("#testTable").bootstrapTable('getSelections');
                var ids = new Array();
                for (var i=0;i<row.length;i++){
                    ids.push(row[i].id);
                };
                axios.post('/scheduleOfFollowUpGroup/deleteScheduleOfFollowUpGroup',ids)
                    .then(function () {
                        $('#testTable').bootstrapTable('refresh');
                    })
                    .catch(function (err) {

                    })
            },
            edit:function () {
                var row=$("#testTable").bootstrapTable('getSelections');
                console.log(row);
                $("#id").val(row[0].id);
                $("#inpatientNumber").val(row[0].inpatientNumber);
                $("#name").val(row[0].name);
                $("#outpatientNumber").val(row[0].outpatientNumber);
                $("#sex").val(row[0].sex);
            },

            retrieval:function () {
                var forData = this.item;
                axios.post('/scheduleOfFollowUpGroup/selectByCondition',forData)
                    .then(function (res) {
                        var data = res.data;
                        $('#testTable').bootstrapTable('load',data);
                    })
                    .catch(function (err) {

                    });
            }

        }
    })
</script>
<script type="text/javascript">
    //获取当前登录人
    $(function () {
        var username1 = $.cookie("userName");
    })

    var newHref = window.location.href;
    var num1 = newHref.indexOf('id=') + 3;
    var num2 = newHref.indexOf('&');
    var idVal = newHref.substring(num1, num2);
    var id = idVal;

    var num3 = newHref.indexOf('groupName=') + 10;
    var len = newHref.length;
    var groupName = newHref.substring(num3, len);
    var s = decodeURI(groupName);
    $('h3').html(s);
    $("#testTable").bootstrapTable({
        method: 'get',
        url:'/scheduleOfFollowUpGroup/selectByFollowUpGroupId',
        toolbar: "#toolbar",
        sidePagination: "true",
        striped: true, // 是否显示行间隔色
        uniqueId: "ID",
        pageSize: "5",
        pageList: [5, 10],
        pagination: true, // 是否分页
        //sortable: true, // 是否启用排序
        queryParams: function(params) {
            var param = {};
            param['followUpGroupId'] = id; // 页码
            return param;
        },
        columns: [{
            checkbox: true
        },{
            field: 'id',
            title: '门诊号/住院号',
            align: 'center',
            formatter: function(value, row, index) {
                return row.outpatientNumber+"/"+row.inpatientNumber;
            }
        }, {
            field: 'name',
            title: '姓名',
            align: 'center',
        },{
            field: 'sex',
            title: '性别',
            align: 'center',
        },{
            field: 'age',
            title: '年龄',
            align: 'center',
        },{
            field: 'groupEntryTime',
            title: '入组时期',
            align: 'center',
        },{
            title: '操作',
            formatter: operateFormatter,
            align: 'center',
        }
        ], //数据
        data: [{
            id: 1,
            name: 'ww',
            price: 55
        }, {
            id: 2,
            name: 'ww',
            price: 55
        }, {
            id: 3,
            name: 'ww',
            price: 55
        }, {
            id: 4,
            name: 'ww',
            price: 55
        }, {
            id: 9,
            name: 'ww',
            price: 55
        }, {
            id: 8,
            name: 'ww',
            price: 55
        }]
    });
    function groupEntry() {
        window.location.href="theGroupManagement.html?id="+id;
    }

    function diag() {
        window.location.href="diagnosisAndTreatmentScheme.html?id="+id;
    }
    function template() {
        window.location.href="templateSettings.html?id="+id;
    }

    function ruleSetting() {
        window.location.href="followUpRuleSetting.html?id="+id;
    }

    function permission() {
        window.location.href="authorityManagement.html?id="+id;
    }

    function operateFormatter(value, row, index){
        //添加按钮
        var rows = JSON.stringify(row);
        var id = row.id;
        var result = "";
        result += "<a href='javascript:;' class='btn btn-xs green' onclick=\"EditViewById('" + id + "', view='view')\" title='查看'><span class='glyphicon glyphicon-zoom-in'></span></a>";
        return result;
    }
    $(function () {
        $('#datetimepicker1').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn')
        });
        $('#datetimepicker2').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn')
        });
        $('#datetimepicker3').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn')
        });
        $('#datetimepicker4').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn')
        });
    })


</script>
</body>
</html>