<!DOCTYPE html>
<html lang="zh-cn" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-table.css">
    <script src="../static/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

    <script src="../static/js/moment-with-locales.min.js"></script>
    <script src="../static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="../static/js/vue.js"></script>
    <script src="../static/js/bootstrap-table.js"></script>
    <script src="../static/js/bootstrap-table-zh-CN.js"></script>
    <!--单个随访组管理-->

</head>
<body>
<div class="container-fluid">
    <div class="page-header" style="text-align: center;margin-top: 0">
        <h3 style="color: blue">随访组标题<a><span class="glyphicon glyphicon-exclamation-sign"></span></a></h3>
    </div>
    <div class="page-header" style="margin-left: 1%;margin-top: 0">
        <button type="button" class="btn btn-info btn-sm" data-dismiss="modal" v-on:click="screen()">权限管理</button>
        <button type="button" class="btn btn-info btn-sm" data-dismiss="modal" v-on:click="screen()">入组管理</button>
        <button type="button" class="btn btn-info btn-sm" data-dismiss="modal" v-on:click="screen()">模板设置</button>
        <button type="button" class="btn btn-info btn-sm" data-dismiss="modal" v-on:click="screen()">随访规定设定</button>
        <button type="button" class="btn btn-info btn-sm" data-dismiss="modal" v-on:click="screen()">诊疗方案</button>
        <button type="button" class="btn btn-info btn-sm" data-dismiss="modal" v-on:click="screen()">节假日管理</button>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <form>
                <div class="row">
                    <div class="col-sm-5" style="margin-top: 5px">
                        门诊号：
                    </div>
                    <div class="col-sm-7">
                        <input type="text" class="form-control input-sm" v-model="">
                    </div>
                </div>
                <div class="row" style="margin-top: 5%">
                    <div class="col-sm-5" style="margin-top: 5px">
                        住院号：
                    </div>
                    <div class="col-sm-7">
                        <input type="text" class="form-control input-sm" v-model="">
                    </div>
                </div>
                <div class="row" style="margin-top: 5%">
                    <div class="form-group">
                        <div class="col-sm-5" style="margin-top: 5px">
                            入组日期：
                        </div>
                        <div class='input-group date col-sm-6' style="margin-left: 47%" id='datetimepicker1'>
                            <input type='text' class="form-control"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar">
                                </span>
                            </span>
                        </div>
                        <div class="col-sm-7" style="text-align: right">~</div>
                        <div class='input-group date col-sm-6' style="margin-left: 47%" id='datetimepicker2'>
                            <input type='text' class="form-control"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar">
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 5%">
                    <div class="col-sm-5" style="margin-top: 5px">
                        性别：
                    </div>
                    <div class="col-sm-7">
                        <select class="form-control input-sm" v-model="">
                            <option>-请选择-</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                </div>
                <div class="row" style="margin-top: 5%">
                    <div class="col-sm-5" style="margin-top: 5px">
                        姓名：
                    </div>
                    <div class="col-sm-7">
                        <input type="text" class="form-control input-sm" v-model="">
                    </div>
                </div>
                <div class="row" style="margin-top: 10%;text-align: center">
                    <button type="button" class="btn btn-info btn-sm" data-dismiss="modal" v-on:click=" screen()">检索</button>
                    <a>高级检索</a>
                </div>
            </form>
        </div>
        <div class="col-sm-10" style="border-left: 1px solid #ccc">
            <div class="row" style="margin: 1%;">
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModalAdd">
                   新增
                </button>
                <button type="button" style="margin-left: 2%" class="btn btn-info btn-sm"
                        data-toggle="modal" data-target="#myModalEdit" v-on:click="noFollowedUp()">编辑
                </button>
                <button type="button" style="margin-left: 2%" class="btn btn-info btn-sm"
                        data-dismiss="modal" v-on:click="noFollowedUp()">删除
                </button>
            </div>
            <div class="row" style="margin-left: 1%;margin-right: 1%">
                <table id="testTable"></table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="#t1" data-toggle="tab">自定义患者</a></li>
                <li role="presentation"><a href="#t2" data-toggle="tab">导入excel文件</a></li>
            </ul>
            <div class="tab-content" style="margin-right: 2%;margin-left: 2%">
                <div id="t1" class="tab-pane fade in active">
                    <form style="margin-top: 2%">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="col-sm-4" style="margin-top: 5px">
                                    住院号：
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control input-sm" v-model="">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="col-sm-4" style="margin-top: 5px">
                                    姓名：
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control input-sm" v-model="">
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 2%">
                            <div class="col-sm-6">
                                <div class="col-sm-4" style="margin-top: 5px">
                                    门诊号：
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control input-sm" v-model="">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="col-sm-4" style="margin-top: 5px">
                                    出生日期：
                                </div>
                                <div class='input-group date col-sm-3' style="margin-left: 37%" id='datetimepicker3'>
                                    <input type='text' class="form-control"/>
                                    <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar">
                                </span>
                            </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="t2" class="tab-pane fade">
                    <div class="row" style="margin-top: 5%;">
                        <input style="text-align: center" type="file" name="file" id="test20">
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:5%;margin-bottom:2%;text-align: center">
                <button type="button" class="btn btn-info btn-sm" data-dismiss="modal" v-on:click="">
                    确定
                </button>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="myModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form style="margin-top: 2%">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="col-sm-4" style="margin-top: 5px">
                            住院号：
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control input-sm" v-model="">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-4" style="margin-top: 5px">
                            姓名：
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control input-sm" v-model="">
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 2%">
                    <div class="col-sm-6">
                        <div class="col-sm-4" style="margin-top: 5px">
                            门诊号：
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control input-sm" v-model="">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-4" style="margin-top: 5px">
                            出生日期：
                        </div>
                        <div class='input-group date col-sm-3' style="margin-left: 37%" id='datetimepicker4'>
                            <input type='text' class="form-control"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar">
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:5%;margin-bottom:2%;text-align: center">
                    <button type="button" class="btn btn-info btn-sm" data-dismiss="modal" v-on:click="">
                        确定
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/html" id="barDemo">
    <a v-on:click="preview()">
        <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
    </a>
</script>
<script type="text/javascript">
    $("#testTable").bootstrapTable({
        toolbar: "#toolbar",
        sidePagination: "true",
        striped: true, // 是否显示行间隔色
        //search : "true",
        uniqueId: "ID",
        pageSize: "5",
        pageList: [5, 10],
        pagination: true, // 是否分页
        //sortable: true, // 是否启用排序
        columns: [{
            checkbox: true
        },{
            field: 'id',
            title: '门诊号/住院号',
            align: 'center',
        }, {
            field: 'price',
            title: '姓名',
            align: 'center',
        },{
            field: 'name',
            title: '性别',
            align: 'center',
        },{
            field: 'age',
            title: '年龄',
            align: 'center',
        },{
            field: 'price',
            title: '入组时期',
            align: 'center',
        },{
            title: '操作',
            formatter: operateFormatter,
            align: 'center',
        }
        ], //数据
        data: [{
            id: 1,
            name: 'ww',
            price: 55
        }, {
            id: 2,
            name: 'ww',
            price: 55
        }, {
            id: 3,
            name: 'ww',
            price: 55
        }, {
            id: 4,
            name: 'ww',
            price: 55
        }, {
            id: 5,
            name: 'ww',
            price: 55
        }, {
            id: 6,
            name: 'ww',
            price: 55
        }]
    });

    function operateFormatter(value, row, index){
        //添加按钮
        var rows = JSON.stringify(row);
        var id = row.id;
        console.log(id);
        var result = "";
        result += "<a href='javascript:;' class='btn btn-xs green' onclick=\"EditViewById('" + id + "', view='view')\" title='查看'><span class='glyphicon glyphicon-zoom-in'></span></a>";
        return result;
    }

    $(function () {
        $('#datetimepicker1').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn')
        });
        $('#datetimepicker2').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn')
        });
        $('#datetimepicker3').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn')
        });
        $('#datetimepicker4').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn')
        });
    })
    function EditViewById(id,view) {
        console.log(id);
        console.log(view);

    }

</script>
</body>
</html>