<!DOCTYPE html>
<html lang="zh-cn" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-table.css">
    <script src="../static/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

    <script src="../static/js/moment-with-locales.min.js"></script>
    <script src="../static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="../static/js/vue.js"></script>
    <script src="../static/js/bootstrap-table.js"></script>
    <script src="../static/js/bootstrap-table-zh-CN.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <!--患者详细页面-->
</head>
<body>
<div class="container-fluid" id="box">
    <div class="row" style="margin-top: 1%;margin-left: 2%">
        <span class="glyphicon glyphicon-arrow-left" style="color: yellow"></span><a href="../templates/followUpScheduleManagement.html">返回</a>
    </div>
    <div class="col-lg-2">
        <div>
            <span>{{item.name}}</span>
            <span>{{item.sex}}</span>
        </div>
        <div>
            住院号 <span>{{item.scheduleOfFollowUpGroup.inpatientNumber}}</span>
        </div>
        <div>
            出生日期 <span>{{item.birth}}</span>
        </div>
        <div>
            <!--<a href="">链接到CDR</a>-->
            <a v-on:click="searchRest" data-dismiss="modal" data-toggle="modal" data-target="#myModal2">展开其他随访组</a>
        </div>
        <div>
            <button class="btn-info">选择诊疗方案</button><br/>
            <!--<a onclick="searchOne()" data-dismiss="modal" data-toggle="modal" data-target="#myModal3">诊疗方案1</a>-->
            <a v-on:click="searchOne" data-dismiss="modal" data-toggle="modal" data-target="#myModal3">诊疗方案1</a>
            <a v-on:click="searchTwo" data-dismiss="modal" data-toggle="modal" data-target="#myModal3">诊疗方案2</a>
        </div>
    </div>
    <div class="col-lg-10">
        <div>随访进度及计划</div>
        <div>
            <table class="table">
                <tr style="text-align: center">
                    <th>基本信息</th>
                    <th>体格检查</th>
                    <th>实验室检查</th>
                    <th>随访信心表</th>
                    <th>查看完整随访计划</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a v-on:click="search" data-dismiss="modal" data-toggle="modal" data-target="#myModal"><span class='glyphicon glyphicon-zoom-in'></span></a></td>
                </tr>
            </table>
        </div>
        <div class="col-lg-8" style="margin-top: 0">
            <div class="row" style="margin: 1%">
                <button type="button" class="btn btn-info btn-sm" onclick="">
                    保存
                </button>
               <!-- <button type="button" class="btn btn-info btn-sm" onclick="">
                    删除
                </button>
                <button type="button" class="btn btn-info btn-sm" onclick="">
                    履历
                </button>-->
            </div>
            <div class="row">
                <form role="form" style="margin: 1%">
                    <div class="form-group" style="margin-top: 1%">
                        <div class="page-header" style="text-align: center;margin-top: 0">
                            <a style="color: #28a4c9" onclick="info()">基本信息(点击)</a>
                        </div>
                        <div class="col-sm-3">
                            姓名：<input id="name1" type="text" />
                        </div>
                        <div class="col-sm-3">
                            性别：<select id="sex1">
                            <option value="请选择">请选择</option>
                            <option value="男">男</option>
                            <option value="女">女</option>
                        </select>
                        </div>
                        <div class="col-sm-3">
                            出生日期：<input id="birth1" type="text"/>
                        </div>
                        <div class="col-sm-3">
                            民族：<select id="nation1">
                            <option value="">请选择</option>
                            <option value="汉">汉</option>
                        </select>
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 7%">
                        <div class="page-header" style="text-align: center;margin-top: 12%">
                            <p style="color: #28a4c9">体格检查</p>
                        </div>
                        <div class="col-sm-3">
                            身高：<input type="text" v-model="item.height"/>cm
                        </div>
                        <div class="col-sm-3">
                            体重：<input type="text" v-model="item.weight"/>kg
                        </div>
                        <div class="col-sm-3">
                            BMI：<input type="text"/>
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 7%">
                        <div class="page-header" style="text-align: center;margin-top: 12%">
                            <a style="color: #28a4c9" onclick="inspect()">实验室检查(点击)</a>
                        </div>
                        <div class="col-sm-3">
                            白细胞：<input id="bai" type="text">mmol/L
                        </div>
                        <div class="col-sm-3">
                            血糖：<input id="xue" type="text">mmol/L
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 7%">
                        <div class="page-header" style="text-align: center;margin-top: 12%">
                            <p style="color: #28a4c9">症状</p>
                        </div>
                        <div class="col-sm-3">
                            症状：<select v-model="item.symptom">
                            <option>头痛</option>
                            <option>发热</option>
                            <option>头晕</option>
                            <option>咳嗽</option>
                            <option>胸闷</option>
                            <option>胸痛</option>
                            <option>呕吐</option>
                            <option>心衰</option>
                        </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-4">
            <p>原始数据</p>
            <div id="tou" style="display: block">
                <div style="color: #28a4c9">基本信息</div>
                <div style="color: #28a4c9">体格检查</div>
                <div style="color: #28a4c9">实验室检查</div>
            </div>
            <div id="xinxi" style="display: none">
                <p style="color: #28a4c9">基本信息</p>
                <div>
                    <table class="table">
                        <tr>
                            <td class="column">姓名</td>
                            <td id="name">{{item.name}}</td>
                        </tr>
                        <tr>
                            <td class="column">性别</td>
                            <td id="sex">{{item.sex}}</td>
                        </tr>
                        <tr>
                            <td class="column">出生日期</td>
                            <td id="birth">{{item.birth}}</td>
                        </tr>
                        <tr>
                            <td class="column">民族</td>
                            <td id="nation">{{item.nation}}</td>
                        </tr>
                    </table>
                    <button type="button" style="margin-left: 2%" class="btn btn-success btn-sm"
                            data-dismiss="modal" v-on:click="sure">确认
                    </button>
                </div>
            </div>
            <div id="shiyanshi" style="display: none">
                <p style="color: #28a4c9">实验室检查</p>
                <div>
                    <form>
                        <div class="form-group">
                            科室 <input type="text" v-model="item.followUpGroupManagement.responsibilityDepartments">
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3" style="margin-top: 5px">
                                时间
                            </div>
                            <div class='input-group date col-sm-3'  id='datetimepicker1'>
                                <input type='text' id="d1" class="form-control"/>
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar">
                                </span>
                            </span>
                            </div>
                            <div class="col-sm-3" style="text-align: right">~</div>
                            <div class='input-group date col-sm-3' id='datetimepicker2'>
                                <input type='text'id="d2" class="form-control"/>
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar">
                                </span>
                            </span>
                            </div>
                            <div class="form-group">
                                <input type="radio" v-model="item.condition" value="1">首次
                                <input type="radio" v-model="item.condition" value="2">末次<br/>
                                <input type="radio" v-model="item.condition" value="3">最大值
                                <input type="radio" v-model="item.condition" value="4">最小值<br/>
                                <button type="button" style="margin-left: 2%" class="btn btn-success btn-sm"
                                        data-dismiss="modal" v-on:click="sureSearch">筛选
                                </button>
                            </div>
                        </div>
                    </form>
                    <table id="formTable">
                    </table>
                    <button type="button" style="margin-left: 2%" class="btn btn-success btn-sm"
                            data-dismiss="modal" v-on:click="confirm ">确定
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <table id="searchTable">
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-sm"
                        onclick="Export() ">
                    导出excel
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <table id="tables">
                </table>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <table id="tableA">
                </table>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
</div>
<script type="text/html" id="barDemo">
    <a v-on:click="preview()">
        <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
    </a>
</script>

<script type="text/javascript">
    var urlinfo=window.location.href; //获取当前页面的url
    len=urlinfo.length;//获取url的长度
    var offset=urlinfo.indexOf("?");//设置参数字符串开始的位置
    var  newsidinfo=urlinfo.substr(offset,len)//取出参数字符串 这里会获得类似“id=1”这样的字符串
    var newsids=newsidinfo.split("=");//对获得的参数字符串按照“=”进行分割
    var  newsid=newsids[1];//得到参数值
    var vm = new Vue({
        el: '#box',
        data() {
            return {
                item: {
                    name: '',
                    sex: '',
                    scheduleOfFollowUpGroup: '',
                    followUpGroupManagement: '',
                    birth: '',
                    nation: '',
                    condition: '',
                    height: '',
                    weight: '',
                    symptom: ''
                }
            }
        },
        mounted: function () {
            axios.get('/patientSchedule/selectOne?id=' + newsid)
                .then(function (response) {
                    vm.item = response.data;
                }).catch(function () {
            });
        },
        methods: {
            search: function () {
                var dataName = this.item.name;
                axios.get('/patientSchedule/selectById?name=' + dataName)
                    .then(function (response) {
                        $("#searchTable").bootstrapTable("load", response.data);
                    }).catch(function () {
                });
            },
            sure: function () {
                var name = document.getElementById("name").innerHTML;
                var sex = document.getElementById("sex").innerHTML;
                var birth = document.getElementById("birth").innerHTML;
                var nation = document.getElementById("nation").innerHTML;
                document.getElementById("name1").value = name;
                document.getElementById("sex1").value = sex;
                document.getElementById("birth1").value = birth;
                document.getElementById("nation1").value = nation;
            },
            sureSearch: function () {
                var dataItem = this.item;
                var starttime = $("#d1").val();
                dataItem.scheduleOfFollowUpGroup.startTime = starttime;
                var endtime = $("#d2").val();
                dataItem.scheduleOfFollowUpGroup.endTime = endtime;
                axios
                    .post('/patientSchedule/selectAllByCondition', dataItem)
                    .then(function (response) {
                        $("#formTable").bootstrapTable("load", response.data);
                    })
                    .catch(function (error) { // 请求失败处理
                        console.log(error);
                    });
            },
            confirm: function () {
                var dataItem = this.item;
                var bai = dataItem.whitebloodcell;
                var xue = dataItem.bloodsugar;
                document.getElementById("bai").value = bai;
                document.getElementById("xue").value = xue;
            },
            searchRest: function () {
                var dataName = this.item.name;
                console.log(dataName);
                axios.get('/patientSchedule/selectById?name=' + dataName)
                    .then(function (response) {
                        $("#tables").bootstrapTable("load", response.data);
                    }).catch(function () {
                });
            },
            searchOne: function () {
                axios.get('/diagnosisAndTreatmentScheme/selectOne?id=' + 1 + '&&groupId=' + newsid)
                    .then(function (response) {
                        console.log(response.data);
                        $("#tableA").bootstrapTable("load", response.data);
                    }).catch(function () {
                });
            },
            searchTwo: function () {
                axios.get('/diagnosisAndTreatmentScheme/selectOne?id=' + 2 + '&&groupId=' + newsid)
                    .then(function (response) {
                        $("#tableA").bootstrapTable("load", response.data);
                    }).catch(function () {
                });
            },

        }
    })
   /* var vn = new Vue({
            el: '#myModal',
            methods: {
                Export: function () {
                    var ids = [];
                    var rows = $("#searchTable").bootstrapTable('getSelections');
                    if (rows.length == 0) {// rows 主要是为了判断是否选中，下面的else内容才是主要
                        alert("请先选择导出的数据!");
                        return;
                    } else {
                        var arrays = new Array();// 声明一个数组
                        $(rows).each(function () {// 通过获得别选中的来进行遍历
                            arrays.push(this.id);// cid为获得到的整条数据中的一列
                        });
                        ids = arrays.join(','); // 获得要导出的id
                    }
                    var name = prompt("请输入导出文件名称");
                    axios.get('/patientSchedule/PatientScheduleExport?ids=' + ids + '&&name=' + name)
                        .then(function (response) {
                            if (response == "1") {
                                alert('操作成功!!!');
                                history.go(0);
                            } else {
                                alert('操作失败!!!');
                                history.go(0);
                            }
                        });
                }
            }
        }*/

    $(function () {
        $('#datetimepicker1').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn')
        });
        $('#datetimepicker2').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn')
        });
    })
    $("#searchTable").bootstrapTable({
        sidePagination: "true",
        striped: true, // 是否显示行间隔色
        toolbar: "#toolbar",
        //search : "true",
        uniqueId: "ID",
        url: '',
        method: 'post',
        columns: [{
            checkbox: true,
        }, {
            field: 'id',
            title: '序号',
            align: 'center',
        }, {
            field: 'dateOfNextFollowUp',
            title: '随访时间',
            align: 'center',
            formatter: function (value, row, index) {
                return row.scheduleOfFollowUpGroup.groupEntryTime;
            }
        }, {
            field: 'groupName',
            title: '随访组',
            align: 'center',
            formatter: function (value, row, index) {
                return row.followUpGroupManagement.groupName;
            }
        }, {
            field: 'responsibilityDepartments',
            title: '科室',
            align: 'center',
            formatter: function (value, row, index) {
                return row.followUpGroupManagement.responsibilityDepartments;
            }
        }, {
            field: 'followUpState',
            title: '随访状态',
            align: 'center',
            formatter: function (value, row, index) {
                return row.scheduleOfFollowUpGroup.followUpState;
            }
        }
        ]
    });
    $("#formTable").bootstrapTable({
        sidePagination: "true",
        striped: true, // 是否显示行间隔色
        //search : "true",
        uniqueId: "ID",
        url: '',
        method: 'post',
        columns: [{
            field: 'id',
            title: '检查时间',
            align: 'center',
            formatter: function (value, row, index) {
                return row.scheduleOfFollowUpGroup.groupEntryTime;
            }
        }, {
            field: 'dateOfNextFollowUp',
            title: '申请科室',
            align: 'center',
            formatter: function (value, row, index) {
                return row.followUpGroupManagement.responsibilityDepartments;
            }
        }, {
            field: 'whitebloodcell',
            title: '白细胞',
            align: 'center',
        }, {
            field: 'bloodsugar',
            title: '血糖',
            align: 'center',
        }
        ]
    });
    $("#tables").bootstrapTable({
        sidePagination: "true",
        striped: true, // 是否显示行间隔色
        //search : "true",
        uniqueId: "ID",
        url: '',
        method: 'post',
        columns: [{
            field: 'name',
            title: '姓名',
            align: 'center',
        }, {
            field: 'dateOfNextFollowUp',
            title: '申请科室',
            align: 'center',
            formatter: function(value, row, index) {
                return row.followUpGroupManagement.responsibilityDepartments;
            }
        }, {
            field: 'whitebloodcell',
            title: '随访组',
            align: 'center',
        }
        ]
    });
    $("#tableA").bootstrapTable({
        sidePagination: "true",
        striped: true, // 是否显示行间隔色
        //search : "true",
        uniqueId: "ID",
        url: '',
        method: 'post',
        columns: [{
            field: 'pharmacy',
            title: '用药',
            align: 'center'
        }, {
            field: 'checkout',
            title: '检验',
            align: 'center'
        }, {
            field: 'examine',
            title: '检查',
            align: 'center'
        }, {
            field: 'treat',
            title: '治疗',
            align: 'center'
        },{
            field: 'operation',
            title: '手术',
            align: 'center'
        },{
            field: 'inform',
            title: '通知',
            align: 'center'
        }
        ]
    });
   /* function getParams(param) {
        return 1;
    }
    function searchOne() {
        $("#diagTable").bootstrapTable("refresh")
    }*/
    function info() {
        var tou1=document.getElementById("tou");
        var xinxi1=document.getElementById("xinxi");
        var shiyanshi=document.getElementById("shiyanshi");
        tou1.style.display="none";
        xinxi1.style.display="block";
        shiyanshi.style.display="none";
    }
    function inspect() {
        var tou1=document.getElementById("tou");
        var xinxi1=document.getElementById("xinxi");
        var shiyanshi=document.getElementById("shiyanshi");
        tou1.style.display="none";
        xinxi1.style.display="none";
        shiyanshi.style.display="block";
    }

    function Export() {
        var ids = [];
        var bool = false;
        var rows = $("#searchTable").bootstrapTable('getSelections');
        if (rows.length == 0) {// rows 主要是为了判断是否选中，下面的else内容才是主要
            alert("请先选择导出的数据!");
            return;
        } else {
            var arrays = new Array();// 声明一个数组
            $(rows).each(function () {// 通过获得别选中的来进行遍历
                arrays.push(this.id);// cid为获得到的整条数据中的一列
            });
            ids = arrays.join(','); // 获得要导出的id
        }
        var name = prompt("请输入导出文件名称");
            $.ajax({
                url: '/patientSchedule/PatientScheduleExport/',//地址
                dataType: 'json',//数据类型
                type: 'post',//类型
                data: {
                    "ids": ids,
                    "name": name
                },
                traditional: true, //默认false  传递数组专用
                success: function (response) {
                    if (response == "1") {
                        alert('操作成功!!!');
                        history.go(0);
                    } else {
                        alert('操作失败!!!');
                        history.go(0);
                    }
                }
            })
    }
</script>
</body>
</html>