<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-table.css">
    <script src="../static/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

    <script src="../static/js/moment-with-locales.min.js"></script>
    <script src="../static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="../static/js/vue.js"></script>
    <script src="../static/js/bootstrap-table.js"></script>
    <script src="../static/js/bootstrap-table-zh-CN.js"></script>
    <!--标准化模板维护-->
</head>
<body>
<div class="container-fluid">
    <div class="page-header" style="text-align: left;margin-top: 0">
        <h3 style="color: #28a4c9">模板总览</h3>
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-9">
        <form>
            <div class="col-md-5 " >
                <div class="col-sm-6" style="margin-top: 5px;text-align: right">
                    科室名称：
                </div>
                <div class="col-sm-6" style="text-align: right">
                    <input type="text" class="form-control" placeholder="">
                </div>
            </div>
            <div class="col-md-5" >
                <div class="col-sm-3" style="margin-top: 5px;text-align: left">
                    创建日期：
                </div>
                <div class="col-sm-6" style="text-align: left">
                    <input type="text" class="form-control" placeholder="">
                </div>
            </div>
            <div class="col-md-5 " >
                <div class="col-sm-6" style="margin-top: 5px;text-align: right">
                    科室名称：
                </div>
                <div class="col-sm-6" style="text-align: right">
                    <input type="text" class="form-control" placeholder="">
                </div>
            </div>
            <div class="col-md-5" >
                <div class="col-sm-3" style="margin-top: 5px;text-align: left">
                    创建日期：
                </div>
                <div class="col-sm-6" style="text-align: left">
                    <input type="text" class="form-control" placeholder="">
                </div>
            </div>
            <div class="col-md-2">
                <div class="col-sm-6" style="text-align: center">
                    <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" v-on:click=" add()">
                        检索
                    </button>
                </div>
                <div class="col-sm-6" style="text-align: center">
                    <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" v-on:click=" find()">
                        清空
                    </button>
                </div>
            </div>
            <div>
                <div class="tab-content" style="margin-right: 2%;margin-left: 2%">
                    <div id="t1" class="tab-pane fade in active">
                        <div class="row">
                            <table id="testTable"></table>
                        </div>
                    </div>
                    <div id="t2" class="tab-pane fade">2</div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/html" id="barDemo">
    <a v-on:click="preview()">
        <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
    </a>
</script>
</body>
</html>