<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-table.css">
    <script src="../static/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

    <script src="../static/js/moment-with-locales.min.js"></script>
    <script src="../static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="../static/js/vue.js"></script>
    <script src="../static/js/bootstrap-table.js"></script>
    <script src="../static/js/bootstrap-table-zh-CN.js"></script>
    <script src="../static/js/bootstrap-treeview.js"></script>
    <!--标准化模板维护-->
</head>
<style>
    body {
        background: #ebebeb;
        color: #505050;
    }

    /*以下代码使页面宽度达到1200px；*/
    .container {
        padding: 0;
    }

    .col-lg-11 {
        padding-right: 1px;
    }

    .col-lg-2 {
        padding-left: 1px;
    }

    .col-lg-10, .col-lg-2 {
        border: 1px solid #2aabd2;
    }

    .left, .right {
        padding: 50px;
        background: white;
    }

    .vw {
        width: 80vw;
        height: 5vw;
        border: 10px solid #000;
    }

    .vi {
        width: 10vw;
        height: 32vw;
    }
</style>
<body>
<div class="container-fluid">
    <div class="page-header" style="text-align: left;margin-top: 0">
        <h3 style="color: #28a4c9">模板总览</h3>
    </div>
    <div style="text-align: right">
        <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" v-on:click=" find()">
            保存
        </button>
        <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" v-on:click=" add()">
            发布
        </button>
        <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" v-on:click=" add()">
            取消
        </button>
    </div>
    <div class="col-lg-2">
        <div id="test2" style="display: none">
            <div class="col-md-12" style="text-align: left">
                基本
            </div>
            <div class="col-md-6" style="text-align: center">
                <button type="button" class="btn btn-link" data-dismiss="modal" v-on:click=" add()">
                    标题
                </button>
            </div>
            <div class="col-md-6" style="text-align: center">
                <button type="button" class="btn btn-link" data-dismiss="modal" v-on:click=" find()">
                    日期
                </button>
            </div>
            <div class="col-md-6" style="text-align: center">
                <button type="button" class="btn btn-link" data-dismiss="modal" v-on:click=" add()">
                    单行文本框
                </button>
            </div>
            <div class="col-md-6" style="text-align: center">
                <button type="button" class="btn btn-link" data-dismiss="modal" v-on:click=" find()">
                    数值
                </button>
            </div>
            <div class="col-md-6" style="text-align: center">
                <button type="button" class="btn btn-link" data-dismiss="modal" v-on:click=" add()">
                    单选下拉框
                </button>
            </div>
            <div class="col-md-6" style="text-align: center">
                <button type="button" class="btn btn-link" data-dismiss="modal" v-on:click=" find()">
                    多选下拉框
                </button>
            </div>
            <div class="col-md-6" style="text-align: center">
                <button type="button" class="btn btn-link" data-dismiss="modal" v-on:click=" add()">
                    单选按钮
                </button>
            </div>
            <div class="col-md-6" style="text-align: center">
                <button type="button" class="btn btn-link" data-dismiss="modal" v-on:click=" find()">
                    复选按钮
                </button>
            </div>
            <div class="col-md-12" style="text-align: left">
                扩展
            </div>
            <div class="col-md-6" style="text-align: center">
                <button type="button" class="btn btn-link" data-dismiss="modal" v-on:click=" add()">
                    表格
                </button>
            </div>
            <div class="col-md-6" style="text-align: center">
                <button type="button" class="btn btn-link" data-dismiss="modal" v-on:click=" find()">
                    组合
                </button>
            </div>
            <div class="col-md-6" style="text-align: center">
                <button type="button" class="btn btn-link" data-dismiss="modal" v-on:click=" add()">
                    时间
                </button>
            </div>
            <div class="col-md-6" style="text-align: center">
                <button type="button" class="btn btn-link" data-dismiss="modal" v-on:click=" find()">
                    文本域
                </button>
            </div>
            <div class="col-md-6" style="text-align: center">
                <button type="button" class="btn btn-link" data-dismiss="modal" v-on:click=" add()">
                    电话
                </button>
            </div>
            <div class="col-md-6" style="text-align: center">
                <button type="button" class="btn btn-link" data-dismiss="modal" v-on:click=" find()">
                    邮箱
                </button>
            </div>
            <div class="col-md-6" style="text-align: center">
                <button type="button" class="btn btn-link" data-dismiss="modal" v-on:click=" add()">
                    文件上传
                </button>
            </div>
            <div class="col-md-6" style="text-align: center">
                <button type="button" class="btn btn-link" data-dismiss="modal" v-on:click=" find()">
                    图例
                </button>
            </div>
            <div class="col-md-12" style="text-align: left">
                模板
            </div>
            <div class="col-md-6" style="text-align: center">
                <button type="button" class="btn btn-link" data-dismiss="modal" v-on:click=" add()">
                    药品模板
                </button>
            </div>
            <div class="col-md-6" style="text-align: center">
                <button type="button" class="btn btn-link" data-dismiss="modal" v-on:click=" find()">
                    手术模板
                </button>
            </div>
            <div class="col-md-6" style="text-align: center">
                <button type="button" class="btn btn-link" data-dismiss="modal" v-on:click=" add()">
                    校验模板
                </button>
            </div>
            <div class="col-md-6" style="text-align: center">
                <button type="button" class="btn btn-link" data-dismiss="modal" v-on:click=" find()">
                    检查模板
                </button>
            </div>
        </div>
        <div id="test">
            <div class="row" style="margin-top: 5px">
                <div class="col-md-6" style="text-align: right">
                    姓名:
                </div>
                <div class="col-md-6" style="text-align: left">
                    <input type="text" class="form-control" placeholder="">
                </div>
            </div>
            <div class="mr10" style="text-align: center">
                <input type="checkbox" name="wz" value="是">是否为必填
            </div>
            <div class="mr10" style="text-align: center">
                <input type="checkbox" name="wz" value="是">是否可搜索
            </div>
            <div class="mr10" style="text-align: center">
                <input type="checkbox" name="wz" value="是">是否可隐藏
            </div>
            <div class="row">
                <div class="col-md-6" style="text-align: right">
                    内容:
                </div>
                <div class="col-md-6" style="text-align: left">
                    <button type="button" class="btn btn-link" data-dismiss="modal" onclick="selectTerm()">
                        选择术语
                    </button>
                </div>
            </div>
            <div class="form-group" id="form1">
                <div class="col-md-6" style="text-align: right">
                    <a onclick="jian('j1')"><span class="glyphicon glyphicon-minus-sign" style="color: red"></span></a>
                </div>
                <div class="col-md-6" style="text-align: left">
                    <input type="text" class="form-control" placeholder="">
                </div>
            </div>
            <div class="form-group" id="form2">
                <div class="col-md-6" style="text-align: right">
                    <a onclick="jian('j2')"><span class="glyphicon glyphicon-minus-sign" style="color: red"></span></a>
                </div>
                <div class="col-md-6" style="text-align: left">
                    <input type="text" class="form-control" placeholder="">
                </div>
            </div>
            <div class="form-group" id="form3">
                <div class="col-md-6" style="text-align: right">
                    <a onclick="jian('j3')"><span class="glyphicon glyphicon-minus-sign" style="color: red"></span></a>
                </div>
                <div class="col-md-6" style="text-align: left">
                    <input type="text" class="form-control" placeholder="">
                </div>
            </div>
            <div class="form-group" id="form4">
                <div class="col-md-6" style="text-align: right">
                    <a onclick="jian('j4')"><span class="glyphicon glyphicon-minus-sign" style="color: red"></span></a>
                </div>
                <div class="col-md-6" style="text-align: left">
                    <input type="text" class="form-control" placeholder="">
                </div>
            </div>
            <div class="form-group" id="form5">
                <div class="col-md-6" style="text-align: right">
                    <a id="jia" onclick="jia('ja1')"><span class="glyphicon glyphicon-plus-sign"style="color: lawngreen"></span></a>
                </div>
                <div class="col-md-6" style="text-align: left">
                    <button type="button" class="btn btn-link" data-dismiss="modal" onclick="selectTerm()">
                        合并术语
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="text-align: right">
                    来源:
                </div>
                <div class="col-md-6" style="text-align: left">
                    <select class="form-control input-sm" v-model="">
                        <option>-请选择-</option>
                        <option>手工录入</option>
                        <option>移动app</option>
                        <option>网页</option>
                        <option>微信</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="text-align: right">
                    分类:
                </div>
                <div class="col-md-6" style="text-align: left">
                    <select class="form-control input-sm" v-model="">
                        <option>-请选择-</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
            </div>
            <div class="row" style="text-align: center">
                <button type="button" class="btn btn-primary" onclick="selectTerm()">
                    添加至节点数
                </button>
            </div>
        </div>
    </div>
    <div class="col-lg-10">
        <form>
            <div style="text-align: left">
                <h1 style="color: #1b6d85;font-size: 20px">|基本信息</h1>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="col-sm-6" style="text-align: right">
                        姓名：
                    </div>
                    <div class="col-sm-5" style="text-align: left">
                        <input type="text" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-sm-2" style="text-align: left">
                        性别：
                    </div>
                    <div class="col-sm-5" style="text-align: left">
                        <select class="form-control input-sm" v-model="">
                            <option>-请选择-</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 2px">
                <div class="col-md-6">
                    <div class="col-sm-6" style="text-align: right">
                        出生日期：
                    </div>
                    <div class="col-sm-5" style="text-align: left">
                        <input type="text" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-sm-2" style="text-align: left">
                        民族：
                    </div>
                    <div class="col-sm-5" style="text-align: left">
                        <select class="form-control input-sm" v-model="">
                            <option>-请选择-</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                </div>
            </div>
            <div style="text-align: left">
                <h1 style="color: #1b6d85;font-size: 20px">|体格检查</h1>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="col-sm-6" style="text-align: right">
                        身高：
                    </div>
                    <div class="col-sm-5" style="text-align: left">
                        <input type="text" class="form-control" placeholder="">
                    </div>
                    <h1 style="font-size: 14px">cm</h1>
                </div>
                <div class="col-md-6">
                    <div class="col-sm-2" style="text-align: left">
                        体重：
                    </div>
                    <div class="col-sm-5" style="text-align: left">
                        <select class="form-control input-sm" v-model="">
                            <option>-请选择-</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                    <h1 style="font-size: 14px">kg</h1>
                </div>
            </div>
            <div class="row" style="margin-top: 2px">
                <div class="col-md-6">
                    <div class="col-sm-6" style="text-align: right">
                        BMI：
                    </div>
                    <div class="col-sm-5" style="text-align: left">
                        <input type="text" class="form-control" placeholder="">
                    </div>
                </div>
            </div>
            <div style="text-align: left">
                <h1 style="color: #1b6d85;font-size: 20px">|实验室检查</h1>
            </div>
            <div class="row">
                <div class="vw" style="border: #3e8f3e">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="col-sm-6" style="font-size: 14px;text-align: right">血常规</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="col-sm-6" style="text-align: right;margin-top: 5px;">
                                白细胞：
                            </div>
                            <div class="col-sm-5" style="text-align: left;margin-top: 5px">
                                <input type="text" class="form-control" placeholder="">
                            </div>
                            <h1 style="font-size: 14px">mmol/L</h1>
                        </div>
                        <div class="col-md-6">
                            <div class="col-sm-2" style="text-align: left;margin-top: 5px">
                                血糖：
                            </div>
                            <div class="col-sm-5" style="text-align: left;margin-top: 5px">
                                <input type="text" class="form-control" placeholder="">
                            </div>
                            <h1 style="font-size: 14px">mmol/L</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div style="text-align: left">
                <h1 style="color: #1b6d85;font-size: 20px">|症状</h1>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="col-sm-6" style="text-align: right">
                        症状：
                    </div>
                    <div class="col-sm-5" style="text-align: left">
                        <select class="form-control " onchange="selectOn(this)">
                            <option>-请选择-</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script>
        function jian(tag) {
            var form1=document.getElementById("form1");
            var form2=document.getElementById("form2");
            var form3=document.getElementById("form3");
            var form4=document.getElementById("form4");

            if(tag=='j3'){
                form3.style.display='none';
                jia2.style.display='block';
            }else if(tag=='j2'){
                form2.style.display='none';
                jia1.style.display='block';
            }else if(tag=='j4'){
                form4.style.display='none';
                jia3.style.display='block';
            }else if(tag=='j1'){
                form1.style.display='none';
                jia3.style.display='block';
            }
        }
        function jia(tag) {
            var form1=document.getElementById("form1");
            var form2=document.getElementById("form2");
            var form3=document.getElementById("form3");
            var form4=document.getElementById("form4");
            var jia1=document.getElementById("jia1");

            if(tag=='j2'){
                jia2.style.display='none';
                form3.style.display='block';
            }else if(tag=='j1'){
                jia1.style.display='none';
                form2.style.display='block';
            }
        }
        $("#testTable").bootstrapTable({
            toolbar: "#toolbar",
            sidePagination: "true",
            striped: true, // 是否显示行间隔色
            //search : "true",
            uniqueId: "ID",
            pageSize: "5",
            pageList: [10, 20],
            pagination: true, // 是否分页
            //sortable: true, // 是否启用排序
            columns: [{
                field: 'templateName',
                title: '模板名称',
                align: 'center',
            }, {
                field: 'followUpGroupName',
                title: '随访组名',
                align: 'center',
            }, {
                field: 'updateDate',
                title: '更新日期',
                align: 'center',
            }, {
                field: 'updatedBy',
                title: '更新者',
                align: 'center',
            }, {
                field: 'versionNumber',
                title: '版本号',
                align: 'center',
            }, {
                field: 'creator',
                title: '创建者',
                align: 'center',
            }, {
                field: 'creationDate',
                title: '创建日期',
                align: 'center',
            }, {
                title: '状态',
                formatter: operateFormatter,
                align: 'center',
            }
            ], //数据
            data: [{
                templateName: 1,
                followUpGroupName: 'ww',
                updateDate: 55,
                updatedBy: 'ss',
                versionNumber: 12,
                creator: 'xiaoming',
                creationDate: 007
            }, {
                templateName: 1,
                followUpGroupName: 'ww',
                updateDate: 55,
                updatedBy: 'ss1',
                versionNumber: 123,
                creator: 'xiaoming2',
                creationDate: 007,
            }, {
                templateName: 12,
                followUpGroupName: 'www',
                updateDate: 555,
                updatedBy: 'ss3',
                versionNumber: 125,
                creator: 'xiaoming',
                creationDate: 007,
            }, {
                templateName: 12,
                followUpGroupName: 'www',
                updateDate: 555,
                updatedBy: 'ss3',
                versionNumber: 126,
                creator: 'xiaoming',
                creationDate: 007,
            }, {
                templateName: 1,
                followUpGroupName: 'ww',
                updateDate: 55,
                updatedBy: 'ss',
                versionNumber: 12,
                creator: 'xiaoming',
                creationDate: 007,
            }, {
                templateName: 1,
                followUpGroupName: 'ww',
                updateDate: 55,
                updatedBy: 'ss',
                versionNumber: 12,
                creator: 'xiaoming',
                creationDate: 007,
            }]
        });

        function operateFormatter(value, row, index) {
            //添加按钮
            var rows = JSON.stringify(row);
            var id = row.id;
            console.log(id);
            var result = "";
            result += "<a href='javascript:;' class='btn btn-xs green' onclick=\"EditViewById('" + id + "', view='view')\" title='查看'><span class='glyphicon glyphicon-zoom-in'></span></a>";
            return result;
        }

        $(function () {
            $('#datetimepicker1').datetimepicker({
                format: 'YYYY-MM-DD',
                locale: moment.locale('zh-cn')
            });
            $('#datetimepicker2').datetimepicker({
                format: 'YYYY-MM-DD',
                locale: moment.locale('zh-cn')
            });
        })

        function EditViewById(id, view) {
            console.log(id);
            console.log(view);

        }

        //树形
        var tree = [
            {
                text: "通用模板",
                id: 1,
                nodes: [
                    {
                        text: "基本信息",
                        id: 2
                    },
                    {
                        text: "检验套餐",
                        id: 2,
                        nodes: [
                            {
                                text: "血常规",
                                id: 3
                            },
                            {
                                text: "血生化",
                                id: 4
                            },
                            {
                                text: "尿常规",
                                id: 4
                            },
                        ]
                    },
                    {
                        text: "检查套餐",
                        id: 5,
                        nodes: [
                            {
                                text: "超声",
                                id: 3
                            },
                            {
                                text: "核链",
                                id: 4
                            }
                        ]
                    }
                ]
            },
            {
                text: "内分泌科",
                id: 6,
                nodes: [{
                    text: "糖尿病首诊",
                    id: 7
                }, {
                    text: "甲状腺状况分析",
                    id: 7
                }]
            },
            {
                text: "肾内科",
                id: 7,
                nodes: [{
                    text: "健康评分",
                    id: 7
                }]
            },
            {
                text: "神经内科",
                id: 8,
                nodes: [{
                    text: "评估表",
                    id: 7
                }]
            },
            {
                text: "新研所",
                id: 9,
                nodes: [{
                    text: "高血压评估表",
                    id: 7
                }, {
                    text: "冠心病评估表",
                    id: 7
                }]
            }
        ];
        $('#tree').treeview({
            data: tree,         // 数据源
            showCheckbox: false,   //是否显示复选框
            highlightSelected: true,    //是否高亮选中
            nodeIcon: 'glyphicon glyphicon-user',    //节点上的图标
            //nodeIcon: 'glyphicon glyphicon-globe',
            emptyIcon: '',    //没有子节点的节点图标
            multiSelect: false,    //多选
            onNodeChecked: function (event, data) {
                console.log("nodeId = " + data.nodeId);
                console.log("id = " + data.id);
            },
            onNodeSelected: function (event, data) {
                console.log("nodeId = " + data.nodeId);
                console.log("id = " + data.id);
            }
        });

        /* function mergeCells(data,fieldName,colspan,target){
             //声明一个map计算相同属性值在data对象出现的次数和
             var sortMap = {};
             for(var i = 0 ; i < data.length ; i++){
                 for(var prop in data[i]){
                     if(prop == fieldName){
                         var key = data[i][prop]
                         if(sortMap.hasOwnProperty(key)){
                             sortMap[key] = sortMap[key] * 1 + 1;
                         } else {
                             sortMap[key] = 1;
                         }
                         break;
                     }
                 }
             }
             for(var prop in sortMap){
                 console.log(prop,sortMap[prop])
             }
             var index = 0;
             for(var prop in sortMap){
                 var count = sortMap[prop] * 1;
                 $(target).bootstrapTable('mergeCells',{index:index, field:fieldName, colspan: colspan, rowspan: count});
                 index += count;
             }
         }
         onLoadSuccess : function() {
             var data = $('#testTable').bootstrapTable('getData', true);
             //合并单元格
             mergeCells(data, "companyTypeName", 1, $('#table'));

         }*/
        function selectTerm() {
            window.open('ListOfTerms.html', '_blank', 'width=600,height=400,top=200,left=500,menubar=no,toolbar=no')
        }
    </script>
</div>
</body>
</html>