<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-table.css">
    <script src="../static/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

    <script src="../static/js/moment-with-locales.min.js"></script>
    <script src="../static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="../static/js/vue.js"></script>
    <script src="../static/js/bootstrap-table.js"></script>
    <script src="../static/js/bootstrap-table-zh-CN.js"></script>
    <script src="../static/js/bootstrap-treeview.js"></script>
    <!--创建模板-->
</head>
<body>
<div class="container-fluid">
    <div class="row" style="margin-top: 1%;margin-left: 2%">
        <span class="glyphicon glyphicon-arrow-left" style="color: yellow"></span><a href="../templates/templateSettings.html">返回模板列表</a>
    </div>
    <div class="page-header" style="text-align: center;margin-top: 0">
        <h3 style="color: #28a4c9">模板设计</h3>
    </div>
    <div class="row" style="margin: 1%">
        <button type="button" class="btn btn-info btn-sm" onclick="">
            引用模板
        </button>
    </div>
    <div>
        <div class="col-lg-2">
            <div class="row" style="margin: 1%;display:none;">
                <table id="tree"></table>
            </div>
            <div class="row">
                <form role="form">
                   <div class="form-group">
                       名称
                       <input type="text">
                   </div>
                    <div class="form-group">
                        <input type="checkbox">是否可重复
                    </div>
                    <div class="form-group">
                        最大重复次数
                        <input type="text" class="col-lg-2">
                    </div>
                    <div class="form-group">
                        <input type="checkbox">是否采集项目
                    </div>
                    <div class="form-group">
                        组内约束
                        <input type="radio">同一患者
                        <input type="radio">同一就诊
                    </div>
                    <div class="form-group">
                        <div>筛选条件</div>
                        <div>
                            科室
                            <input type="text">
                        </div>
                        <div>
                            时间<br/>
                            <input type="text">
                            <span>~</span>
                            <input type="text">
                        </div>
                        <div>
                            来源
                            <select>
                                <option>请选择</option>
                                <option>CDR</option>
                                <option>来访</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-10" style="border-left: 1px solid #ccc;">
            <div class="row" style="margin: 1%">
                <button type="button" class="btn btn-info btn-sm" onclick="">
                    规则设定
                </button>
                <button type="button" class="btn btn-info btn-sm" onclick="">
                    保存
                </button>
                <button type="button" class="btn btn-info btn-sm" onclick="">
                    发布
                </button>
                <button type="button" class="btn btn-info btn-sm" onclick="">
                    取消
                </button>
            </div>
            <div class="row">
                <form role="form" style="margin: 1%">
                    <div class="form-group" style="margin-top: 1%">
                        <div class="page-header" style="text-align: center;margin-top: 0">
                            <p style="color: #28a4c9">基本信息</p>
                        </div>
                        <div class="col-sm-3">
                            唯一标识：<input type="text">
                        </div>
                        <div class="col-sm-3">
                            姓名：<input type="text">
                        </div>
                        <div class="col-sm-3">
                            性别：<input type="text">
                        </div>
                        <div class="col-sm-3">
                            出生日期：<input type="text">
                        </div>

                    </div>
                    <div class="form-group" style="margin-top: 7%">
                        <div class="page-header" style="text-align: center;margin-top: 0">
                            <p style="color: #28a4c9">体格检查</p>
                        </div>
                        <div class="col-sm-3">
                            身高：<input type="text">cm
                        </div>
                        <div class="col-sm-3">
                            体重：<input type="text">kg
                        </div>
                        <div class="col-sm-3">
                            BMI：<input type="text">
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 7%">
                        <div class="page-header" style="text-align: center;margin-top: 0">
                            <p style="color: #28a4c9">实验室检查</p>
                        </div>
                        <div class="col-sm-3">
                            白细胞：<input type="text">mmol/L
                        </div>
                        <div class="col-sm-3">
                            血糖：<input type="text">mmol/L
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 7%">
                        <div class="page-header" style="text-align: center;margin-top: 0">
                            <p style="color: #28a4c9">症状</p>
                        </div>
                        <div class="col-sm-3">
                            症状：<select>
                            <option>1</option>
                            <option>1</option>
                        </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var urlinfo=window.location.href; //获取当前页面的url
    len=urlinfo.length;//获取url的长度
    var offset=urlinfo.indexOf("?");//设置参数字符串开始的位置
    var  newsidinfo=urlinfo.substr(offset,len)//取出参数字符串 这里会获得类似“id=1”这样的字符串
    var newsids=newsidinfo.split("=");//对获得的参数字符串按照“=”进行分割
    var  newsid=newsids[1];//得到参数值
    console.log(newsid);





    var tree = [
        {
            text: "基本信息",
            id: 2,
            nodes: [
                {
                    text: "患者唯一标识",
                    id: 3
                },
                {
                    text: "姓名",
                    id: 4
                },
                {
                    text: "性别",
                    id: 4
                },
                {
                    text: "出生日期",
                    id: 4
                },
                {
                    text: "出生地",
                    id: 4
                },
                {
                    text: "文化程度(已审批)",
                    id: 4
                },
                {
                    text: "症状(待审批)",
                    id: 4
                },
                {
                    text: "电子邮件",
                    id: 4
                },
                {
                    text: "ABO血型",
                    id: 4
                },
                {
                    text: "RH血型(待审批)",
                    id: 4
                },
                {
                    text: "联系人",
                    id: 4,
                    nodes: [
                        {
                            text: "与患者信息",
                            id: 3
                        },
                        {
                            text: "姓名",
                            id: 4
                        },
                        {
                            text: "性别",
                            id: 4
                        },
                        {
                            text: "住址",
                            id: 4
                        },
                        {
                            text: "电子邮件",
                            id: 4
                        }
                    ]
                },
                {
                    text: "证件",
                    id: 4,
                    nodes: [
                        {
                            text: "身份证号",
                            id: 3
                        },
                        {
                            text: "户口簿号",
                            id: 4
                        },
                        {
                            text: "护照号",
                            id: 4
                        },
                        {
                            text: "军官证号",
                            id: 4
                        },
                        {
                            text: "驾驶证号",
                            id: 4
                        },
                        {
                            text: "港澳通行证号",
                            id: 4
                        },
                        {
                            text: "台湾通行证号",
                            id: 4
                        }
                    ]
                }
            ]
        },
        {
            text: "首页 信息",
            id: 2,
            nodes: [
                {
                    text: "主要诊断",
                    id: 3
                },
                {
                    text: "门(急)诊诊断",
                    id: 4
                },
                {
                    text: "入院方式",
                    id: 4
                },
                {
                    text: "入院时间",
                    id: 4
                },
                {
                    text: "入院科室",
                    id: 4
                },
                {
                    text: "入院诊断",
                    id: 4
                },
                {
                    text: "入院医生",
                    id: 4
                },
                {
                    text: "主治医生",
                    id: 4
                },
                {
                    text: "出院时间",
                    id: 4
                },
                {
                    text: "出院科室",
                    id: 4
                },
                {
                    text: "出院状态",
                    id: 4
                },
                {
                    text: "出院诊断",
                    id: 4
                },
                {
                    text: "出院天数",
                    id: 4
                },
                {
                    text: "离院方式",
                    id: 4
                },
                {
                    text: "是否死亡",
                    id: 4
                }
            ]
        },
        {
            text: "手术信息",
            id: 5,
            nodes: [
                {
                    text: "手术名称",
                    id: 3
                },
                {
                    text: "手术日期",
                    id: 4
                },
                {
                    text: "手术执行科室",
                    id: 4
                },
                {
                    text: "手术开始时间",
                    id: 4
                },
                {
                    text: "手术结束时间",
                    id: 4
                },
                {
                    text: "手术工作量",
                    id: 4
                },
                {
                    text: "手术部位",
                    id: 4
                },
                {
                    text: "麻醉信息",
                    id: 4,
                    nodes: [
                        {
                            text: "麻醉方式",
                            id: 3
                        },
                        {
                            text: "麻醉科室",
                            id: 4
                        },
                        {
                            text: "麻醉准备时间",
                            id: 4
                        },
                        {
                            text: "麻醉开始时间",
                            id: 4
                        },
                        {
                            text: "麻醉结束时间",
                            id: 4
                        },
                        {
                            text: "麻醉工作量",
                            id: 4
                        }
                    ]
                }
            ]

        }
    ];
    $('#tree').treeview({
        data: tree,         // 数据源
        showCheckbox: true,   //是否显示复选框
        highlightSelected: true,    //是否高亮选中
        multiSelect: false,    //多选
        onNodeChecked: function (event, data) {
            console.log("nodeId = " + data.nodeId);
            console.log("id = " + data.id);
        },
        onNodeSelected: function (event, data) {
            console.log("nodeId = " + data.nodeId);
            console.log("id = " + data.id);
        }
    });
</script>
</body>
</html>