<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-table.css">
    <script src="../static/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

    <script src="../static/js/moment-with-locales.min.js"></script>
    <script src="../static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="../static/js/vue.js"></script>
    <script src="../static/js/bootstrap-table.js"></script>
    <script src="../static/js/bootstrap-table-zh-CN.js"></script>
    <script src="../static/js/bootstrap-treeview.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <!--创建模板-->
</head>
<body>
<div class="container-fluid" id="box">
    <div class="row" style="margin-top: 1%;margin-left: 2%">
        <span class="glyphicon glyphicon-arrow-left" style="color: yellow"></span><a onclick="returns()">返回模板列表</a>
    </div>
    <div class="page-header" style="text-align: center;margin-top: 0">
        <h3 style="color: #28a4c9">模板设计</h3>
    </div>
    <div class="row" style="margin: 1%">
        <button type="button" v-on:click="quoteTrem" class="btn btn-info btn-sm" data-dismiss="modal"
                data-toggle="modal" data-target="#myModa3">
            引用模板
        </button>
    </div>
    <div>

        <div class="col-lg-2">
            <div id="d1" class="row" style="margin: 1%;display:block;">
                <table id="tree"></table>
                <button v-on:click="btn" class="btn-info">确认选择</button>
            </div>
            <div id="d2" class="row" style="display: none">
                <form role="form">
                    <div class="form-group">
                        名称
                        <input type="text">
                    </div>
                    <div class="form-group">
                        <input type="checkbox">是否可重复
                    </div>
                    <div class="form-group">
                        最大重复次数
                        <input type="text" class="col-lg-2">
                    </div>
                    <div class="form-group">
                        <input type="checkbox">是否采集项目
                    </div>
                    <div class="form-group">
                        组内约束
                        <input type="radio">同一患者
                        <input type="radio">同一就诊
                    </div>
                    <div class="form-group">
                        <div>筛选条件</div>
                        <div>
                            科室
                            <input type="text">
                        </div>
                        <div>
                            时间<br/>
                            <input type="text">
                            <span>~</span>
                            <input type="text">
                        </div>
                        <div>
                            来源
                            <select>
                                <option>请选择</option>
                                <option>CDR</option>
                                <option>来访</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div id="d3" class="row" style="display: none">
                <form role="form">
                    <div class="form-group">
                        名称
                        <input type="text" value="症状">
                    </div>
                    <div class="form-group">
                        <input type="checkbox">是否可填
                    </div>
                    <div class="form-group">
                        <input type="checkbox">是否可搜索
                    </div>
                    <div class="form-group">
                        <input type="checkbox">是否隐私项
                    </div>
                    <div class="form-group">
                        内容
                        <button type="button" class="btn btn-info btn-sm" data-dismiss="modal" data-toggle="modal"
                                data-target="#myModal">
                            选择术语
                        </button>
                    </div>
                    <div id="totalTrem" class="form-group">

                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-info btn-sm" v-on:click="tremMerge">
                            合并术语
                        </button>
                    </div>
                    <div class="form-group">
                        来源
                        <select>
                            <option value="">请选择</option>
                            <option value="">手工录入</option>
                            <option value="">移动APP</option>
                            <option value="">网页</option>
                            <option value="">微信</option>
                        </select>
                    </div>
                    <div class="form-group">
                        分类
                        <select>
                            <option value="">请选择</option>
                            <option value="">症状</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="button" data-dismiss="modal" data-toggle="modal" data-target="#myModa2">
                            添加至树节点
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-10" style="border-left: 1px solid #ccc;">
            <div class="row" style="margin: 1%">
                <button type="button" class="btn btn-info btn-sm" data-dismiss="modal" data-toggle="modal"
                        data-target="#myModa2">
                    规则设定
                </button>
                <button type="button" class="btn btn-info btn-sm" onclick="save(saveHtml)">
                    保存
                </button>
                <button type="button" class="btn btn-info btn-sm" onclick="releases(saveHtml)">
                    发布
                </button>
                <button type="button" class="btn btn-info btn-sm" onclick="">
                    取消
                </button>
            </div>
            <div id="total">
                <div class="row" id="saveHtml">
                    <form id="forms" role="form" style="margin: 1%">
                        <div id="p1" class="page-header" style="text-align: center;margin-top: 5%;">
                            <p style="color: #28a4c9"><a onclick="inform()">基本信息</a></p>
                        </div>
                        <div id="r1" style="padding-bottom: 2%">
                            <div class="col-sm-3">
                                性别：<select>
                                <option value="请选择">请选择</option>
                                <option value="男">男</option>
                                <option value="女">女</option>
                            </select>
                            </div>
                            <div class="col-sm-3">
                                民族：<select>
                                <option value="请选择">请选择</option>
                                <option value="汉族">汉族</option>
                                <option value="满族">满族</option>
                                <option value="朝鲜族">朝鲜族</option>
                            </select>
                            </div>
                            <div class="col-sm-3">
                                姓名：<input type="text">
                            </div>
                            <div class="col-sm-3">
                                出生日期：<input type="text">
                            </div>
                        </div>
                        <div id="p5" class="page-header" style="text-align: center;margin-top: 5%;display: none">
                            <p style="color: #28a4c9"><a v-on:click="inform">首页信息</a></p>
                        </div>
                        <div id="r5" style="padding-bottom: 2%">
                        </div>
                        <div id="p6" class="page-header" style="text-align: center;margin-top: 5%;display: none">
                            <p style="color: #28a4c9"><a v-on:click="inform">手术信息</a></p>
                        </div>
                        <div id="r6" style="padding-bottom: 2%"></div>
                        <div id="p2" class="page-header" style="text-align: center;margin-top: 5%;">
                            <p style="color: #28a4c9">体格检查</p>
                        </div>
                        <div id="r2" style="padding-bottom: 2%">
                            <div class="col-sm-3">
                                身高：<input type="text">cm
                            </div>
                            <div class="col-sm-3">
                                体重：<input type="text">kg
                            </div>
                            <div class="col-sm-3">
                                BMI：<input type="text">
                            </div>
                        </div>
                        <div id="p3" class="page-header" style="text-align: center;margin-top: 5%;">
                            <p style="color: #28a4c9"><a v-on:click="inspect">实验室检查</a></p>
                        </div>
                        <div id="r3" style="padding-bottom: 2%">
                            <div class="col-sm-3">
                                白细胞：<input type="text">mmol/L
                            </div>
                            <div class="col-sm-3">
                                血糖：<input type="text">mmol/L
                            </div>
                        </div>
                        <div id="p4" class="page-header" style="text-align: center;margin-top: 7%;">
                            <p style="color: #28a4c9"><a v-on:click="symptoms">症状</a></p>
                        </div>
                        <div id="r4" style="padding-bottom: 2%">
                            <div class="col-sm-3">
                                症状：<select id="termSymptom">
                                <option value="">请选择</option>
                            </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="page-header" style="text-align: center;margin-top: 0">
                <h3 style="color: blue">术语字典选择</h3>
            </div>
            <div style="text-align: center">
                <select>
                    <option value="">请选择</option>
                    <option value="">症状</option>
                </select>
            </div>
            <div id="trem" class="form-group" style="text-align: center">
                <div>
                    <input type="checkbox" value="头痛">头痛&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" value="发热">发热
                </div>
                <div>
                    <input type="checkbox" value="头晕">头晕&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" value="咳嗽">咳嗽
                </div>
                <div>
                    <input type="checkbox" value="胸闷">胸闷&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" value="胸痛">胸痛
                </div>
                <div>
                    <input type="checkbox" value="呕吐">呕吐&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" value="心衰">心衰
                </div>
                <div>
                    <button type="button" class="btn btn-info btn-sm" data-dismiss="modal" data-toggle="modal"
                            v-on:click="sureTerm">
                        确定
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModa2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="page-header" style="text-align: center;margin-top: 0">
                <h3 style="color: #28a4c9">规则设定</h3>
            </div>
            <div style="margin-left: 25%;padding-bottom: 5%">
                <div style="color:dodgerblue;background-color: #cccccc;width: 300px;height: 40px;text-align: center;padding-top: 10px;margin-top: 10px">
                    显示/隐藏
                </div>
                <div style="color:dodgerblue;background-color: #cccccc;width: 300px;height: 40px;text-align: center;padding-top: 10px;margin-top: 10px">
                    赋值/计算
                </div>
                <div style="color:dodgerblue;background-color: #cccccc;width: 300px;height: 40px;text-align: center;padding-top: 10px;margin-top: 10px">
                    置灰/激活
                </div>
                <div style="color:dodgerblue;background-color: #cccccc;width: 300px;height: 40px;text-align: center;padding-top: 10px;margin-top: 10px">
                    勾选/取消
                </div>
                <div style="color:dodgerblue;background-color: #cccccc;width: 300px;height: 40px;text-align: center;padding-top: 10px;margin-top: 10px">
                    分值计算
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModa3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="page-header" style="text-align: center;margin-top: 0">
                <h3 style="color: blue">通用模板选择</h3>
            </div>
            <form role="form" id="testForm">
            </form>
            <div class="form-group" style="text-align: center">
                <button type="button" class="btn btn-info btn-sm" data-dismiss="modal" aria-hidden="true"
                        onclick="merge()">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var urlinfo = window.location.href; //获取当前页面的url
    len = urlinfo.length;//获取url的长度
    var offset = urlinfo.indexOf("?");//设置参数字符串开始的位置
    var newsidinfo = urlinfo.substr(offset, len)//取出参数字符串 这里会获得类似“id=1”这样的字符串
    var newsids = newsidinfo.split("=");//对获得的参数字符串按照“=”进行分割
    var ss = newsids[1].split("&&");
    var tempid = ss[0]; //模板id
    var newsid = newsids[2];//随访组id
    console.log("模板id" + tempid);
    console.log("随访组id" + newsid);
    //;//得到参数值
    //console.log(newsid);

    if (tempid != null) {
        $.ajax({
            url: '/template/selectById?id=' + tempid,
            method: 'get',
            success: function (res) {
                $("#total").html(res.context);
            }
        })
    }


    new Vue({
        el: '#myModal',
        data: {},
        methods: {
            sureTerm: function () {
                var inps = $("#trem input[type='checkbox']:checked");
                var result = "";
                for (var i = 0; i < inps.length; i++) {
                    result += "<div id=" + inps[i].value + ">\n" +
                        "                            <a onclick='jian(" + inps[i].value + ")'><span class=\"glyphicon glyphicon-minus-sign\" style=\"color: red\"></span></a>\n" +
                        "                            <input type=\"text\" value=" + inps[i].value + ">\n" +
                        "                        </div>";
                }
                $("#totalTrem").html(result);
            }
        }
    })

    function jian(tag) {
        tag.remove();
    }

    new Vue({
        el: '#box',
        data: {},
        methods: {
            tremMerge: function () {
                var val = $("#totalTrem input");
                var result = "";
                for (var i = 0; i < val.length; i++) {
                    result += "<option value=" + val[i].value + ">" + val[i].value + "</option>";
                }
                $("#termSymptom").append(result);
            },
            btn: function () {
                var treeview = $('#tree').treeview('getChecked');
                var html1 = document.getElementById("r1").innerHTML;
                var html5 = "";
                var html6 = "";
                for (var i = 0; i < treeview.length; i++) {
                    if (treeview[i].id == 12) {
                        html1 += "";
                        $("#r1").html(html1);
                    } else if (treeview[i].id == 2) {
                        document.getElementById("p1").style.display = "block";
                        html1 += "<div class=\"col-sm-3\" style='margin-top: 1%'>" + treeview[i].text + "<input type=\"text\"></div>";
                        $("#r1").html(html1);
                    } else if (treeview[i].id == 3) {
                        document.getElementById("p5").style.display = "block";
                        html5 += "<div class=\"col-sm-3\" style='margin-top: 1%'>" + treeview[i].text + "<input type=\"text\"></div>";
                        $("#r5").html(html5);
                    } else if (treeview[i].id == 4) {
                        document.getElementById("p6").style.display = "block";
                        html6 += "<div class=\"col-sm-3\" style='margin-top: 1%'>" + treeview[i].text + "<input type=\"text\"></div>";
                        $("#r6").html(html6);
                    }
                }
            },
            inform: function () {
                document.getElementById("d1").style.display = "block";
                document.getElementById("d2").style.display = "none";
                document.getElementById("d3").style.display = "none";
            },
            inspect: function () {
                document.getElementById("d1").style.display = "none";
                document.getElementById("d2").style.display = "block";
                document.getElementById("d3").style.display = "none";
            },
            symptoms: function () {
                document.getElementById("d1").style.display = "none";
                document.getElementById("d2").style.display = "none";
                document.getElementById("d3").style.display = "block";
            },
            quoteTrem: function () {
                axios.post('/template/selectNamesByGroupId?groupId=' + newsid)
                    .then(function (response) {
                        var result = "";
                        for (var i = 0; i < response.data.length; i++) {
                            result += "<div class=\"form-group\" style=\"text-align: center\">\n" +
                                "                    <input name='name' type=\"radio\" value=" + response.data[i].templateId + ">" + response.data[i].templateName + "</div>";
                            $("#testForm").html(result);
                        }
                    }).catch(function () {
                });
            }
        }

    })

    var tree = [
        {
            text: "基本信息",
            id: 1,
            nodes: [
                {
                    text: "唯一标识",
                    id: 2
                },
                {
                    text: "姓名",
                    id: 12
                },
                {
                    text: "性别",
                    id: 12
                },
                {
                    text: "出生日期",
                    id: 12
                },
                {
                    text: "出生地",
                    id: 2
                },
                {
                    text: "文化程度",
                    id: 2
                },
                {
                    text: "症状(待审批)",
                    id: 2
                },
                {
                    text: "电子邮件",
                    id: 2
                },
                {
                    text: "ABO血型",
                    id: 2
                },
                {
                    text: "RH血型(待审批)",
                    id: 2
                },
                {
                    text: "联系人",
                    id: 2,
                    nodes: [
                        {
                            text: "与患者信息",
                            id: 2
                        },
                        {
                            text: "姓名",
                            id: 2
                        },
                        {
                            text: "性别",
                            id: 2
                        },
                        {
                            text: "住址",
                            id: 2
                        },
                        {
                            text: "电子邮件",
                            id: 2
                        }
                    ]
                },
                {
                    text: "证件",
                    id: 2,
                    nodes: [
                        {
                            text: "身份证号",
                            id: 2
                        },
                        {
                            text: "户口簿号",
                            id: 2
                        },
                        {
                            text: "护照号",
                            id: 2
                        },
                        {
                            text: "军官证号",
                            id: 2
                        },
                        {
                            text: "驾驶证号",
                            id: 2
                        },
                        {
                            text: "港澳通行证号",
                            id: 2
                        },
                        {
                            text: "台湾通行证号",
                            id: 2
                        }
                    ]
                }
            ]
        },
        {
            text: "首页信息",
            id: 1,
            nodes: [
                {
                    text: "主要诊断",
                    id: 3
                },
                {
                    text: "门(急)诊诊断",
                    id: 3
                },
                {
                    text: "入院方式",
                    id: 3
                },
                {
                    text: "入院时间",
                    id: 3
                },
                {
                    text: "入院科室",
                    id: 3
                },
                {
                    text: "入院诊断",
                    id: 3
                },
                {
                    text: "入院医生",
                    id: 3
                },
                {
                    text: "主治医生",
                    id: 3
                },
                {
                    text: "出院时间",
                    id: 3
                },
                {
                    text: "出院科室",
                    id: 3
                },
                {
                    text: "出院状态",
                    id: 3
                },
                {
                    text: "出院诊断",
                    id: 3
                },
                {
                    text: "出院天数",
                    id: 3
                },
                {
                    text: "离院方式",
                    id: 3
                },
                {
                    text: "是否死亡",
                    id: 3
                }
            ]
        },
        {
            text: "手术信息",
            id: 1,
            nodes: [
                {
                    text: "手术名称",
                    id: 4
                },
                {
                    text: "手术日期",
                    id: 4
                },
                {
                    text: "手术执行科室",
                    id: 4
                },
                {
                    text: "手术开始时间",
                    id: 4
                },
                {
                    text: "手术结束时间",
                    id: 4
                },
                {
                    text: "手术工作量",
                    id: 4
                },
                {
                    text: "手术部位",
                    id: 4
                },
                {
                    text: "麻醉信息",
                    id: 4,
                    nodes: [
                        {
                            text: "麻醉方式",
                            id: 4
                        },
                        {
                            text: "麻醉科室",
                            id: 4
                        },
                        {
                            text: "麻醉准备时间",
                            id: 4
                        },
                        {
                            text: "麻醉开始时间",
                            id: 4
                        },
                        {
                            text: "麻醉结束时间",
                            id: 4
                        },
                        {
                            text: "麻醉工作量",
                            id: 4
                        }
                    ]
                }
            ]

        }
    ];
    $('#tree').treeview({
        data: tree,         // 数据源
        showCheckbox: true,   //是否显示复选框
        highlightSelected: true,    //是否高亮选中
        multiSelect: false,    //多选
        onNodeChecked: function (event, data) {
            /*console.log("nodeId = " + data.nodeId);
            console.log("id = " + data.id);*/
        },
        onNodeSelected: function (event, data) {
            /*console.log("nodeId = " + data.nodeId);
            console.log("id = " + data.id);*/
        }
    });


    function merge() {
        var value = $("#testForm input[name='name']:checked").val();
        console.log(value);
        $.ajax({
            url: '/template/selectById?id=' + value,
            method: 'get',
            success: function (res) {
                $("#total").html(res.context);
            }
        })
    }

    function save(id) {
        var strHTML = id.outerHTML;
        var context = "";
        context = strHTML;
        $.ajax({
            url: '/template/save',
            method: 'post',
            data: {
                "text": context,
                "id": newsid,
                "tempId": tempid
            },
            success: function (res) {
                if (res == 1) {
                    alert("保存成功");
                } else if (res == 2) {
                    alert("该版本已存在");
                } else {
                    alert("保存失败");
                }
            }

        })
    }

    function releases(id) {
        var strHTML = id.outerHTML;
        var context = "";
        context = strHTML;
        $.ajax({
            url: '/template/releases',
            method: 'post',
            data: {
                "text": context,
                "id": newsid,
                "tempId": tempid
            },
            success: function (res) {
                if (res == 1) {
                    alert("发布成功");
                } else if (res == 2) {
                    alert("该版本已发布");
                } else {
                    alert("发布失败");
                }
            }

        })
    }

    function returns() {
        window.location.href = "templateSettings.html?id=" + newsid;
    }

</script>
</body>
</html>