<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-table.css">
    <script src="../static/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

    <script src="../static/js/moment-with-locales.min.js"></script>
    <script src="../static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="../static/js/vue.js"></script>
    <script src="../static/js/bootstrap-table.js"></script>
    <script src="../static/js/bootstrap-table-zh-CN.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <!--模板设置-->
</head>
<body>
<div class="container-fluid" id="box">
    <div class="row" style="margin-top: 1%;margin-left: 2%">
        <span class="glyphicon glyphicon-arrow-left" style="color: yellow"></span><a href="inDividualFollowUpGroupManagement.html">返回随访组</a>
    </div>
    <div class="page-header" style="text-align: center;margin-top: 0">
        <h3 style="color: #28a4c9">模板设置</h3>
    </div>
    <div class="row" style="margin: 1%">
        <button type="button" class="btn btn-info btn-sm" onclick="createTemp()">
            创建模板
        </button>
    </div>
    <div class="row" style="margin: 1%">
        <table id="testTable"></table>
    </div>
</div>
<script type="text/html" id="barDemo">
</script>
<script type="text/javascript">
    var urlinfo=window.location.href; //获取当前页面的url
    len=urlinfo.length;//获取url的长度
    var offset=urlinfo.indexOf("?");//设置参数字符串开始的位置
    var  newsidinfo=urlinfo.substr(offset,len)//取出参数字符串 这里会获得类似“id=1”这样的字符串
    var newsids=newsidinfo.split("=");//对获得的参数字符串按照“=”进行分割
    var  newsid=newsids[1];//得到参数值
    new Vue({
        el: '#box',
        data:{
        },
        mounted:function(){
            axios.post('/template/selectAllNoCondition?groupId='+newsid)
                .then(function (response) {
                    console.log(response.data);
                    $("#testTable").bootstrapTable("load",response.data);
                }).catch(function () {});
        }
        })

    function createTemp(){
        window.location.href="templateDesign.html?id="+newsid;
    }
    $("#testTable").bootstrapTable({
        sidePagination: "true",
        striped: true, // 是否显示行间隔色
        url: '',
        uniqueId: "ID",
        pageSize: "5",
        pageList: [10, 20],
        pagination: true, // 是否分页
        //sortable: true, // 是否启用排序
        columns: [{
            field: 'templateName',
            title: '模板名称',
            align: 'center',
        }, {
            field: 'updateDate',
            title: '更新日期',
            align: 'center',
            formatter: function (value, row, index) {
                return value.substring(0, 10);
            }
        }, {
            field: 'updatedBy',
            title: '更新者',
            align: 'center',
        },{
            field: 'versionNumber',
            title: '版本号',
            align: 'center',
        },{
            field: 'creationDate',
            title: '创建日期',
            align: 'center',
            formatter: function (value, row, index) {
                return value.substring(0, 10);
            }
        },{
            field: 'templateState',
            title: '状态',
            align: 'center',
            formatter: function (value, row, index) {
                return value;
            }
        }, {
            title: '操作',
            formatter: operateFormatter,
            align: 'center',
        }
        ]
    });
    function operateFormatter(value, row, index) {
        //添加按钮
        var rows = JSON.stringify(row);
        var id = row.id;
        console.log(id);
        var result = "";
        result += "<a href='javascript:;' class='btn btn-xs green' onclick=\"EditViewById('" + id + "', view='view')\" title='查看'><span class='glyphicon glyphicon-zoom-in'></span></a>";
        result += "<a href='javascript:;' class='btn btn-xs green' onclick=\"EditViewById('" + id + "', view='view')\" title='修改'><span class='glyphicon glyphicon-zoom-in'></span></a>";
        result += "<a href='javascript:;' class='btn btn-xs green' onclick=\"EditViewById('" + id + "', view='view')\" title='删除'><span class='glyphicon glyphicon-remove-circle'></span></a>";
        return result;
    }
</script>

</body>
</html>