<!DOCTYPE html>
<html lang="zh-cn" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-table.css">
    <script src="../static/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../static/js/moment-with-locales.min.js"></script>
    <script src="../static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="../static/js/vue.js"></script>
    <script src="../static/js/bootstrap-table.js"></script>
    <script src="../static/js/bootstrap-table-zh-CN.js"></script>
    <script src="../static/js/bootstrap-treeview.js"></script>
    <!--入组管理-->
</head>
<body>
<div class="container-fluid" id="app">
    <div class="row" style="margin-top: 1%;margin-left: 2%">
        <span class="glyphicon glyphicon-arrow-left" style="color: yellow"></span><a onclick="returnFollowGroup()">返回随访组</a>
    </div>
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="#t1" data-toggle="tab">入组范围</a></li>
        <li role="presentation"><a href="#t2" data-toggle="tab">入组时间</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="t1" >
            <div class="col-sm-1">
                <ul class="nav nav-tabs">
                    <li role="presentation">
                        <button type="button" style="margin-top: 20%" class="btn-info" onclick="ch('btn1')">按科室
                        </button>
                        <button type="button" style="margin-top: 20%" class="btn-info" onclick="ch('btn2')">按病种
                        </button>
                        <button type="button" style="margin-top: 20%" class="btn-info" onclick="ch('btn3')">按人员
                        </button>
                        <button type="button" style="margin-top: 20%" class="btn-info" onclick="ch('btn4')">自定义条件
                        </button>
                        <button type="button" style="margin-top: 20%" class="btn-info" onclick="ch('btn5')">按结果集
                        </button>
                    </li>
                </ul>
            </div>
            <div class="col-sm-11" style="border-left: 2px solid #ccc;height: 500px" >
                <div class="row" style="margin-left: 2%">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">自动同步新增患者
                        </label>
                        <label style="margin-left: 10%">
                            <input type="checkbox">是否需要确认
                        </label>
                    </div>
                </div>
                <div class="tab-content">
                    <div id="div1" >
                        <form role="form" style="margin-top: 10%">
                            <div class="row col-lg-3" style="color: blue">
                                <div class="col-sm-5" style="margin-top: 5px">
                                    科室：
                                </div>
                                <div class="col-sm-7" >
                                    <select class="form-control input-sm"  v-model='item.departmentsId'>
                                        <option value="">-请选择-</option>
                                        <option v-for="(department,index) in departments" :value="department.id">{{department.departmentsName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <button type="button" class="btn btn-info btn-sm"
                                        data-dismiss="modal" v-on:click="save">保存
                                </button>
                            </div>
                        </form>
                    </div>
                    <div id="div2" style="display: none">
                        <form role="form" style="margin-top: 5%">
                            <div class="row col-lg-4" style="color: blue">
                                <div class="col-sm-3" style="margin-top: 5px">
                                    疾病编码
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control input-sm" v-model="item.diseaseCode1">
                                </div>
                                <div class="col-sm-1" style="text-align:center">~</div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control input-sm" v-model="item.diseaseCode2">
                                </div>
                            </div><br/><br/><br/>
                            <div class="row col-lg-4" style="color: blue">
                                <div class="col-sm-3" style="margin-top: 5px">
                                    疾病名称
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control input-sm" v-model="item.diseaseName">
                                </div>

                            </div>
                        </form><br/><br/><br/><br/>
                        <div class="row col-lg-4" style="text-align: center">
                            <button type="button" class="btn btn-info btn-sm"
                                    data-dismiss="modal" v-on:click="save">保存
                            </button>
                        </div>
                    </div>
                    <div id="div3" style="display: none">
                        <form role="form" style="margin-top: 2%">
                            <div class="row col-lg-3" style="color: blue">
                                <div class="col-sm-5" style="margin-top: 5px">
                                    医生
                                </div>
                                <div class="col-sm-7">
                                    <select class="form-control input-sm" v-model='item.doctorId'>
                                        <option>-请选择-</option>
                                        <option v-for="user in occupationPeople.userDoctor" :value="user.userId">{{user.name}}</option>
                                    </select>
                                </div>
                            </div><br/><br/><br/>
                            <div class="row col-lg-3" style="color: blue">
                                <div class="col-sm-5" style="margin-top: 5px">
                                    护士
                                </div>
                                <div class="col-sm-7">
                                    <select class="form-control input-sm" v-model='item.nurseId'>
                                        <option>-请选择-</option>
                                        <option v-for="user in occupationPeople.userNurse" :value="user.userId">{{user.name}}</option>
                                    </select>
                                </div>
                            </div><br/><br/><br/>
                            <div class="row col-lg-3" style="color: blue">
                                <div class="col-sm-5" style="margin-top: 5px">
                                    技师
                                </div>
                                <div class="col-sm-7">
                                    <select class="form-control input-sm" v-model='item.technicianId'>
                                        <option>-请选择-</option>
                                        <option v-for="user in occupationPeople.userTechnician" :value="user.userId">{{user.name}}</option>
                                    </select>
                                </div>
                            </div><br/><br/><br/>
                            <div class="row col-lg-3" style="color: blue">
                                <div class="col-sm-5" style="margin-top: 5px">
                                    药师
                                </div>
                                <div class="col-sm-7">
                                    <select class="form-control input-sm" v-model='item.pharmacistId'>
                                        <option>-请选择-</option>
                                        <option v-for="user in occupationPeople.userPharmacist" :value="user.userId">{{user.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </form><br/><br/><br/>
                        <div class="row col-lg-4" style="text-align: center">
                            <button type="button" class="btn btn-info btn-sm"
                                    data-dismiss="modal" v-on:click="save">保存
                            </button>
                        </div>
                    </div>
                    <div id="div4" style="display: none">
                        <div class="col-lg-3">
                            <table id="tree"></table>
                            <button onclick="btn()" class="btn-info">确认选择</button>
                        </div>
                        <div class="col-lg-9">
                            <div id="div">
                            </div>
                        </div>
                    </div>
                    <div id="div5" style="display: none">
                        5
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="t2" >
            2
        </div>
    </div>
</div>
<script>

    var newHref = window.location.href;
    var num = newHref.indexOf('id=') + 3;
    var len = newHref.length;
    var idVal = newHref.substring(num, len);
    var id = idVal;
    var vm = new Vue({
        el:'#app',
        data:{
            item:{
                departmentsId:'',
                diseaseCode1:'',
                diseaseCode2:'',
                diseaseName:'',
                doctorId:'',
                nurseId:'',
                technicianId:'',
                pharmacistId:'',
            },
            departments:[],
            occupationPeople:{

            },
        },
        mounted:function(){
            axios.get('/patientSchedule/findAllDepartments')
                .then(function (response) {
                    vm.departments = response.data;
                }).catch(function () {});
            axios.get('/user/findAllPeopleByOccupation')
                .then(function (response) {
                    vm.occupationPeople = response.data;
                }).catch(function () {});
        },
        methods:{
            save() {
                var formData = this.item;
                formData.id = id;
                axios.post('/scheduleOfFollowUpGroup/findAllDepartmentsByDepartmentsId',formData)
                    .then(function (res) {
                        alert("保存成功")
                    })
                    .catch(function (err) {

                    });
            },
        }
    })
</script>
<script type="text/javascript">
    var tree = [
        {
            text: "基本信息",
            id: 2,
            nodes: [
                {
                    text: "患者唯一标识",
                    id: 3
                },
                {
                    text: "姓名",
                    id: 4
                },
                {
                    text: "性别",
                    id: 4
                },
                {
                    text: "出生日期",
                    id: 4
                },
                {
                    text: "出生地",
                    id: 4
                },
                {
                    text: "文化程度(已审批)",
                    id: 4
                },
                {
                    text: "症状(待审批)",
                    id: 4
                },
                {
                    text: "电子邮件",
                    id: 4
                },
                {
                    text: "ABO血型",
                    id: 4
                },
                {
                    text: "RH血型(待审批)",
                    id: 4
                },
                {
                    text: "联系人",
                    id: 4,
                    nodes: [
                        {
                            text: "与患者信息",
                            id: 3
                        },
                        {
                            text: "姓名",
                            id: 4
                        },
                        {
                            text: "性别",
                            id: 4
                        },
                        {
                            text: "住址",
                            id: 4
                        },
                        {
                            text: "电子邮件",
                            id: 4
                        }
                    ]
                },
                {
                    text: "证件",
                    id: 4,
                    nodes: [
                        {
                            text: "身份证号",
                            id: 3
                        },
                        {
                            text: "户口簿号",
                            id: 4
                        },
                        {
                            text: "护照号",
                            id: 4
                        },
                        {
                            text: "军官证号",
                            id: 4
                        },
                        {
                            text: "驾驶证号",
                            id: 4
                        },
                        {
                            text: "港澳通行证号",
                            id: 4
                        },
                        {
                            text: "台湾通行证号",
                            id: 4
                        }
                    ]
                }
            ]
        },
        {
            text: "首页信息",
            id: 2,
            nodes: [
                {
                    text: "主要诊断",
                    id: 3
                },
                {
                    text: "门(急)诊诊断",
                    id: 4
                },
                {
                    text: "入院方式",
                    id: 4
                },
                {
                    text: "入院时间",
                    id: 4
                },
                {
                    text: "入院科室",
                    id: 4
                },
                {
                    text: "入院诊断",
                    id: 4
                },
                {
                    text: "入院医生",
                    id: 4
                },
                {
                    text: "主治医生",
                    id: 4
                },
                {
                    text: "出院时间",
                    id: 4
                },
                {
                    text: "出院科室",
                    id: 4
                },
                {
                    text: "出院状态",
                    id: 4
                },
                {
                    text: "出院诊断",
                    id: 4
                },
                {
                    text: "出院天数",
                    id: 4
                },
                {
                    text: "离院方式",
                    id: 4
                },
                {
                    text: "是否死亡",
                    id: 4
                }
            ]
        },
        {
            text: "手术信息",
            id: 5,
            nodes: [
                {
                    text: "手术名称",
                    id: 3
                },
                {
                    text: "手术日期",
                    id: 4
                },
                {
                    text: "手术执行科室",
                    id: 4
                },
                {
                    text: "手术开始时间",
                    id: 4
                },
                {
                    text: "手术结束时间",
                    id: 4
                },
                {
                    text: "手术工作量",
                    id: 4
                },
                {
                    text: "手术部位",
                    id: 4
                },
                {
                    text: "麻醉信息",
                    id: 4,
                    nodes: [
                        {
                            text: "麻醉方式",
                            id: 3
                        },
                        {
                            text: "麻醉科室",
                            id: 4
                        },
                        {
                            text: "麻醉准备时间",
                            id: 4
                        },
                        {
                            text: "麻醉开始时间",
                            id: 4
                        },
                        {
                            text: "麻醉结束时间",
                            id: 4
                        },
                        {
                            text: "麻醉工作量",
                            id: 4
                        }
                    ]
                }
            ]

        }
    ];
    $('#tree').treeview({
        data: tree,         // 数据源
        showCheckbox: true,   //是否显示复选框
        highlightSelected: true,    //是否高亮选中
        multiSelect: false, //多选
        onNodeChecked: function (event, data) {

            //console.log("nodeId = " + data.nodeId);
            //console.log("id = " + data.text);
            //console.log("data=" + data);
        },
        onNodeSelected: function (event, data) {
           /* console.log(1)
            console.log("nodeId = " + data.nodeId);
            console.log("id = " + data.id);*/
        }
    });

    function btn() {
        var treeview = $('#tree').treeview('getChecked');
        var result="";
        for(var i=0;i<treeview.length;i++){
            result+="<div class=\"col-lg-6\" style=\"margin-top: 2%\">\n" +
                "                                    <label>"+treeview[i].text+"</label>\n" +
                "                                    <input type=\"text\">\n" +
                "                                </div>";
            $("#div").html(result);
        }
    }

    function returnFollowGroup(){
        window.location.href="inDividualFollowUpGroupManagement.html?id="+id;
    }
    function ch(tag){
        var div1=document.getElementById("div1");
        var div2=document.getElementById("div2");
        var div3=document.getElementById("div3");
        var div4=document.getElementById("div4");
        var div5=document.getElementById("div5");

        if(tag=='btn1'){
            div1.style.display="block";
            div2.style.display="none";
            div3.style.display="none";
            div4.style.display="none";
            div5.style.display="none";
        }else if(tag=='btn2'){
            div1.style.display="none";
            div2.style.display="block";
            div3.style.display="none";
            div4.style.display="none";
            div5.style.display="none";
        }else if(tag=='btn3'){
            div1.style.display="none";
            div2.style.display="none";
            div3.style.display="block";
            div4.style.display="none";
            div5.style.display="none";
        }else if(tag=='btn4'){
            div1.style.display="none";
            div2.style.display="none";
            div3.style.display="none";
            div4.style.display="block";
            div5.style.display="none";
        }else if(tag=='btn5'){
            div1.style.display="none";
            div2.style.display="none";
            div3.style.display="none";
            div4.style.display="none";
            div5.style.display="block";
        }
    }

</script>
</body>
</html>